<div class="row">
    <div class="col-xs-3" style="padding-top: 40px;">
        <ul content-menu class="content-menu">
            <li role="presentation" class="active">
                <a data-target="#mapping-coditions">Mapping Conditions</a>
            </li>
            <li role="presentation">
                <a data-target="#other-information">Other Information</a>
            </li>
        </ul>
    </div>

    <div class="col-xs-9">
        <div class="row">
            <div class="col-xs-12">
                <h2 id="mapping-coditions" style="margin: 40px 0px 40px 0px;">Mapping Conditions</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Distance</label>
                    <select name="distance"
                            class="form-control"
                            ng-model="vm.additionalDescriptions.DistanceToFace"
                            ng-options="type.description for type in vm.characterization.FaceTypes"
                            ng-disabled="vm.mapping.Finished">
                    </select>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <label>Responsible for Restricted Area</label>
                    <select name="responsible"
                            class="form-control"
                            ng-model="vm.additionalDescriptions.ResponsibleForRestrictedArea"
                            ng-options="responsible.description for responsible in vm.characterization.Responsibles"
                            ng-disabled="vm.mapping.Finished">
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Reason for Restricted Area</label>
                    <select name="reason"
                            class="form-control"
                            ng-model="vm.additionalDescriptions.ReasonForRestrictedArea"
                            ng-options="reason.description for reason in vm.characterization.Reasons"
                            ng-disabled="vm.mapping.Finished">
                    </select>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <label>Light Quality</label>
                    <select name="light-quality"
                            class="form-control"
                            ng-model="vm.additionalDescriptions.LightQuality"
                            ng-options="light.description for light in vm.characterization.Lights"
                            ng-disabled="vm.mapping.Finished">
                    </select>
                </div>
            </div>
        </div>

        <div class="row" style="border-bottom: 1px solid #CACACC; padding-bottom: 35px;">
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Air Quality</label>
                    <select name="air-quality"
                            class="form-control"
                            ng-model="vm.additionalDescriptions.AirQuality"
                            ng-options="air.description for air in vm.characterization.Airs"
                            ng-disabled="vm.mapping.Finished">
                    </select>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <label>Available Time</label>
                    <div class="row">
                        <div class="col-xs-4">
                            <select name="available-time-hour"
                                    class="form-control"
                                    ng-model="vm.additionalDescriptions.AvailableHour"
                                    ng-options="hour for hour in vm.hours"
                                    ng-disabled="vm.mapping.Finished">
                            </select>
                        </div>
                        <div class="col-xs-4">
                            <select name="available-time-minute"
                                    class="form-control"
                                    ng-model="vm.additionalDescriptions.AvailableMinute"
                                    ng-options="minute for minute in vm.minutes"
                                    ng-disabled="vm.mapping.Finished">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2 id="other-information" style="margin: 40px 0px 40px 0px;">Other Information</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label>New Damage 40[m] behind</label>
                    <select name="damage"
                            class="form-control"
                            ng-model="vm.additionalDescriptions.NewDamageBehind"
                            ng-options="damage.description for damage in vm.characterization.Damages"
                            ng-disabled="vm.mapping.Finished">
                    </select>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <label>Description</label>
                    <input class="form-control" name="description" type="text" required ng-model="vm.additionalDescriptions.Description" ng-disabled="vm.mapping.Finished"></input>
                </div>
            </div>
        </div>
    </div>
</div>
