<div id="modal-user-profile" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        <h4 class="modal-title">
          <strong>{{vm.user.FirstName + ' ' + vm.user.LastName}}</strong>
        </h4>

        <div ng-repeat="role in vm.user.Roles">
          <span>{{role.Name}}</span>
        </div>
      </div>

      <div class="modal-body" ng-show="vm.isShowingOptions">
        <div class="row">
          <div class="col-xs-1">
            <i class="fa fa-cog" aria-hidden="true"></i>
          </div>
          <div class="col-xs-10">
            <a ng-click="vm.showPersonalInformationForm()">Personal Information</a>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-1">
            <i class="fa fa-power-off" aria-hidden="true" style="font-size: 21px;"></i>
          </div>
          <div class="col-xs-10">
            <a ui-sref="logout()" >Logout</a>
          </div>
        </div>
      </div>

      <div class="modal-body" ng-show="vm.isShowingPersonalInformationForm">
        <form name="vm.personalInformationForm">

          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label>First Name</label>
                <input  name="firstName"
                        type="text"
                        class="form-control"
                        ng-model="vm.user.FirstName"
                        required>
                </input>
                <div ng-messages="vm.personalInformationForm.firstName.$error" ng-show="vm.personalInformationForm.firstName.$touched" class="error-messages">
                  <div ng-message="required">Required</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label>Last Name</label>
                <input  name="lastName"
                        type="text"
                        class="form-control"
                        ng-model="vm.user.LastName"
                        required>
                </input>
                <div ng-messages="vm.personalInformationForm.lastName.$error" ng-show="vm.personalInformationForm.lastName.$touched" class="error-messages">
                  <div ng-message="required">Required</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label>Contact</label>
                <input  name="contact"
                        type="text"
                        class="form-control"
                        ng-model="vm.user.Contact"
                        required>
                </input>
                <div ng-messages="vm.personalInformationForm.contact.$error" ng-show="vm.personalInformationForm.contact.$touched" class="error-messages">
                  <div ng-message="required">Required</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label>Email</label>
                <input  name="email"
                        type="email"
                        class="form-control"
                        ng-model="vm.user.Email"
                        required>
                </input>
                <div ng-messages="vm.personalInformationForm.email.$error" ng-show="vm.personalInformationForm.email.$touched" class="error-messages">
                  <div ng-message="required">Required</div>
                  <div ng-message="email">Invalid email address</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="pull-right">
                <button class="btn btn-default" ng-click="vm.showOptions()">Cancel</button>
                <button class="btn btn-primary" ng-click="vm.savePersonalInformation()" ng-disabled="!vm.personalInformationForm.$valid">Save</button>
              </div>
            </div>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
