.btn-close {
    background-color: $white;
    border: 1px solid $gray6;
    //padding: 1px 6.5px;
    min-height: 33px;
    min-width:38px;

    .fa-lock {
        display: none;
    }

    &:hover {
        .fa-lock {
            display: block;
        }

        .fa-unlock-alt {
            display: none;
        }
        background: $brand-success;
        color: white;
        border: 1px solid darken($brand-success, 6.5%);
        min-height: 33px;
        min-width:38px;
    }
}

.form-subheader {
    margin: 20px 0px 20px 0px;
    
    a {
        cursor: pointer;
    }
}

.btn-open {
    color: $gray9;
    //padding: 1px 6.5px;
    //height: 22px;
    background-color: $white;

    .fa-unlock-alt {
        display: none;
    }
    &:hover {
        color: $gray9;
        .fa-lock {
            display: none;
        }

        .fa-unlock-alt {
            display: block;
        }
    }
}

.end-subform {
    border-bottom: 1px dashed $gray6;
    padding-bottom: 35px;
}

.end-form {
    border-bottom: 1px solid $gray6;
    padding-bottom: 35px;
}
.tabsdemoDynamicTabs md-content {
  background-color: transparent !important; 
}
.tabsdemoDynamicTabs md-content md-tabs 
{
    border: 1px solid #e1e1e1; 
}
.tabsdemoDynamicTabs md-content md-tabs md-tab-content 
{
      background: #f6f6f6; 
}
.tabsdemoDynamicTabs md-content md-tabs md-tabs-wrapper 
{
      background: white; 
}
  .tabsdemoDynamicTabs md-content h1:first-child {
    margin-top: 0; }

.tabsdemoDynamicTabs md-input-container {
  padding-bottom: 0; }

.tabsdemoDynamicTabs .remove-tab {
  margin-bottom: 40px; }

.tabsdemoDynamicTabs .demo-tab > div > div {
  padding: 25px;
  box-sizing: border-box; }

.tabsdemoDynamicTabs .edit-form input {
  width: 100%; }

.tabsdemoDynamicTabs md-tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

.tabsdemoDynamicTabs md-tab[disabled] {
  opacity: 0.5; }

.tabsdemoDynamicTabs label {
  text-align: left; }

.tabsdemoDynamicTabs .long > input {
  width: 264px; }

.tabsdemoDynamicTabs .md-button.add-tab {
  transform: translateY(5px); }
