<div   class="navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
                <button type="button" id="toggleMenu" class="toggle_menu" aria-label="Justify">
                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                </button>

                <div class="navbar-brand logo-desc">
                    <img src="imgs/logo2.png" height="50px;"></img>
                </div>

                <span class="navbar-text logo-desc">TunnelArts</span>
        </div>

        <div class="collapse navbar-collapse UserButton">
            <a  data-target="#modal-user-profile" class="navbar-text navbar-right" modal-user-profile>
                <i class="fa fa-user-circle-o"></i>
                <strong>{{vm.user.FirstName + ' ' + vm.user.LastName}}</strong>
            </a>
        </div>
    </div>
</div>
