
<div class="login-header">
    <div class="logo"></div>
</div>

<div class="container" style="padding-top: 20px;">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
                <form name="vm.form">
                    <div class="form-group">
                        <label>Username</label>
                        <input class="form-control" name="username" type="text" required ng-model="vm.user.username"></input>

                        <div ng-messages="vm.form.username.$error" ng-show="vm.form.username.$dirty" class="error-messages">
        					<div ng-message="required">Required</div>
        				</div>
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" name="password" type="password" required ng-model="vm.user.password"></input>

                        <div ng-messages="vm.form.password.$error" ng-show="vm.form.password.$dirty" class="error-messages">
        					<div ng-message="required">Required</div>
                            <div ng-message="invalidLogin">{{vm.error}}</div>
        				</div>
                    </div>

                    <div class="form-group text-center">
                        <a ui-sref="reset-password()" class="text-center">Forgot password?</a>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary btn-block"
                                ng-click="vm.login()"
                                ng-disabled="vm.isNotPossibleTryToLogin()">
                            LOGIN
                        </button>
                    </div>
                </form>
        </div>
    </div>
</div>
