<div class="container-fluid">
    <form>
        <div class="row content search-form">
          <div class="col-xs-3">
            <div class="form-group">
                <label for="project-slc">Project</label>
                <select id="project-slc"
                        class="form-control"
                        ng-model="vm.filter.project"
                        ng-options="project.Name for project in vm.projects"
                        ng-change="vm.findTunnels()">
                </select>
            </div>
          </div>
          <div class="col-xs-3">
              <div class="form-group">
                  <label for="tunnel-slc">Tunnel</label>
                  <select id="tunnel-slc"
                          class="form-control"
                          ng-model="vm.filter.tunnel"
                          ng-options="tunnel.Name for tunnel in vm.tunnels"
                          ng-change="vm.findFaces()">
                  </select>
              </div>
          </div>

          <div class="col-xs-3">
              <div class="form-group">
                  <label for="face-slc">Face</label>
                  <select id="face-slc"
                          class="form-control"
                          ng-model="vm.filter.face"
                          ng-options="face.Name for face in vm.faces">
                  </select>
              </div>
          </div>
          <div class="col-xs-3 col-md-2 col-lg-1 pull-right" style="padding-top: 24px;">
              <button class="form-control btn btn-primary"
                      ng-click="vm.findPhgs()"
                      ng-disabled="vm.cannotFindPhgs()">
                  <i class="fa fa-search"></i>
              </button>
          </div>
        </div>
    </form>
    <div class="content row">
        <div class="col-xs-3 col-md-2 col-lg-1">

            <a type="button" href="{{ vm.excelMappingFileURL }}" target="_blank" class="form-control btn btn-success" tooltip title="Export data to Excel">
                <span class="fa fa-file-excel-o"></span>
            </a>

            <!--<button type="button" class="form-control btn btn-success" tooltip title="Export data to Excel">-->
              <!--<span class="fa fa-file-excel-o"></span>-->
            <!--</button>-->
        </div>
        <div class="col-xs-9 col-md-10 col-lg-11">
          <div class="input-group pull-right">
              <div class="dropup pull-left">
                  <button class="btn btn-default btn-sm"
                          style="margin-right: 4px;"
                          ng-bind="vm.labelPagination"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false">
                  </button>
                  <ul class="dropdown-menu" style="left: -45px;" aria-labelledby="dLabel">
                      <li><a ng-click="vm.firstPage()">Primera página</a></li>
                      <li><a ng-click="vm.lastPage()">Última página</a></li>
                  </ul>
              </div>
              <div class="pull-right">
                  <button class="btn btn-default btn-sm" ng-disabled="vm.previousPageDisabled" ng-click="vm.previousPage()">
                      <i class="glyphicon glyphicon-menu-left"></i>
                  </button>
                  <button class="btn btn-default btn-sm" ng-disabled="vm.nextPageDisabled" ng-click="vm.nextPage()">
                      <i class="glyphicon glyphicon-menu-right"></i>
                  </button>
              </div>
          </div>
        </div>
    </div>



    <div class="content row">
        <div class="col-md-4 col-xs-12">
            <div class="row">
              <div class="col-xs-12">
                <h4>Predicted Q VS Observed Q</h4>
              </div>
            </div>
            <br/>
            <div class="row-fluid">
              <div class="col-xs 12">
                <div class="btn-group">
                  <button id="BQMin" type="button" class="btn btn-default">Q Min.</button>
                  <button id="BQAvg" type="button" class="btn btn-default">Q Avg.</button>
                  <button id="BQMax" type="button" class="btn btn-default">Q Max.</button>
                </div>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div id="DQMin" class="row-fluid tile-stats graphContent"></div>
                <div id="DQAvg" class="row-fluid tile-stats graphContent">
                  <div class="row">
                    <div class="chart-legend">
                      <span><i class="fa fa-circle ct-series-a"></i> Observed Q</span>
                      &nbsp
                      <span><i class="fa fa-circle ct-series-b"></i> Predicted Q</span>
                    </div>
                  </div>
                  <div class="col-md-offset-1 col-md-11">
                    <div class="ct-chart ct-perfect-fourth"></div>
                  </div>
                </div>
                <div id="DQMax" class="row-fluid tile-stats graphContent"></div>
              </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-8">
          <div class="row">
            <div class="col-xs-12">
              <h4>Probe Holes Groups</h4>
            </div>
          </div>
          <br/>
          <div class="table-responsive">
                <table class="table table-hover" sortable data-callback="vm.sortBy">
                    <thead>
                        <tr>
                            <th data-title="Probe Holes Group" data-column="phg"></th>
                            <th data-title="Probe Holes" data-column="probe-holes"></th>
                            <th data-title="Tested Rods" data-column="total-rods"></th>
                            <th data-title="Chainages" data-column="chainages"></th>
                            <th data-title="Q Observed" data-column="q-observed"></th>
                            <th data-title="Created At" data-column="created-at"></th>
                            <th data-title="Updated At" data-column="updated-at"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="phg1 in vm.phgs">
                            <td ng-bind="::phg1.Name"></td>
                            <td ng-bind="::phg1.probeHolesCount"></td>
                            <td ng-bind="::phg1.rodsCount"></td>
                            <td>{{phg1.Mapping.ChainageStart + " - " +  phg1.Mapping.ChainageEnd}}</td>
                            <td ng-bind="::phg1.QValueSelected"></td>
                            <td>
                                {{phg1.createdAt | date: 'dd-MM-yyyy hh:mm:ss'}}
                            </td>
                            <td>
                                {{phg1.updatedAt | date: 'dd-MM-yyyy hh:mm:ss'}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
