
#modal-user-profile {
    .modal-content  {
        border-radius: 0;
    }

    .modal-header {
        padding: 30px;
        background-color: $black;
        color: $white;

        .close {
            color: $white;
            opacity: inherit;
        }
    }

    .modal-body > .row {
        padding: 15px;

        span, a {
          line-height: 21px;
        }

        i {
          font-size: 21px;
        }
    }

    @media (min-width: 768px) {
        .modal-dialog {
            width: 400px;
            margin: 10px 20px 10px auto;
        }
    }
}
