<div class="container-fluid">
    <div class="row tab-header">
        <div class="col-xs-12">
            <button class="pull-left" ui-sref="app.faces()">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>
            <h3 ng-if="!vm.tunnel.id">Create New</h3>
            <h3 ng-if="vm.tunnel.id">Edit</h3>
        </div>
    </div>

    <div class="row">
      
        <div class="col-xs-12">
            <form name="vm.form">
            <div class="row">
                <div class="col-xs-12">
                    <h3 style="margin: 40px 0px 40px 0px;">Face</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Project</label>
                        <select name="project"
                                type="text"
                                class="form-control"
                                ng-model="vm.project"
                                ng-options="project.Name for project in vm.projects"
                                ng-change="vm.findTunnels()"
                                ng-disabled="vm.face.id"
                                required>
                        </select>
                        <div ng-messages="vm.form.project.$error" ng-show="vm.form.project.$touched" class="error-messages">
        					<div ng-message="required">Required</div>
        				</div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Tunnel</label>
                        <select name="tunnel"
                                type="text"
                                class="form-control"
                                ng-model="vm.face.Tunnel"
                                ng-options="tunnel.Name for tunnel in vm.tunnels"
                                ng-disabled="vm.face.id"
                                required>
                        </select>
                        <div ng-messages="vm.form.tunnel.$error" ng-show="vm.form.tunnel.$touched" class="error-messages">
        					<div ng-message="required">Required</div>
        				</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Name</label>
                        <input  name="name"
                                type="text"
                                class="form-control"
                                ng-model="vm.face.Name"
                                required>
                        </input>
                        <div ng-messages="vm.form.name.$error" ng-show="vm.form.name.$touched" class="error-messages">
        					<div ng-message="required">Required</div>
        				</div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Reference Chainage</label>
                        <input  name="refChainage"
                                type="text"
                                class="form-control"
                                ng-model="vm.face.RefChainage"
                                required>
                        </input>
                        <div ng-messages="vm.form.refChainage.$error" ng-show="vm.form.refChainage.$touched" class="error-messages">
        					<div ng-message="required">Required</div>
        				</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Orientation (°)</label>
                        <input  name="orientation"
                                type="number"
                                class="form-control"
                                ng-model="vm.face.Orientation"
                                required>
                        </input>
                        <div ng-messages="vm.form.orientation.$error" ng-show="vm.form.orientation.$touched" class="error-messages">
        					<div ng-message="required">Required</div>
        				</div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Inclination (%)</label>
                        <input  name="inclination"
                                type="number"
                                class="form-control"
                                ng-model="vm.face.Inclination"
                                required>
                        </input>
                        <div ng-messages="vm.form.inclination.$error" ng-show="vm.form.inclination.$touched" class="error-messages">
        					<div ng-message="required">Required</div>
        				</div>
                    </div>
                </div>
            </div>

                <div class="row">
                    <div class="col-xs-6">
                    <div class="form-group">
                        <label>Direction</label>
                        <div class="radio" ng-repeat="direction in vm.directions">
                            <label>
                                <input name="face-direction" type="radio" ng-model="vm.face.Direction" ng-value="direction.code"/> {{ direction.description }}
                            </label>
                        </div>
                    </div>
                </div>
                </div>
        </form>
        </div>
    </div>

</div>

<footer ng-if="!vm.mapping.Finished">
    <div class="row content">
        <div class="col-xs-12">
            <div class="pull-right">
                <button class="btn btn-default" ui-sref="app.faces()" tooltip title="Cancel"><span class="glyphicon glyphicon-floppy-remove"></span></button>
                <button class="btn btn-primary" ng-click="vm.save()" ng-disabled="!vm.form.$valid" tooltip title="Save"><span class="glyphicon glyphicon-floppy-disk"></button>
            </div>
        </div>
    </div>
</footer>
