<div class="container-fluid">
    <form>
        <div class="row content search-form">
            <div class="col-xs-9">
                <div class="form-group">
                    <label for="query-txt">Search for faces</label>
                    <input  id="query-txt"
                            type="text"
                            class="form-control"
                            ng-model="vm.filter.query">
                    </input>
                </div>
            </div>

            <div class="col-xs-3 col-md-2 col-lg-1 pull-right" style="padding-top: 24px;">
                <button class="form-control btn btn-primary"
                        ng-click="vm.findFaces()">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="content row">
        <div class="col-xs-1">
            <button class="btn btn-success form-control" ui-sref="app.face-new()" tooltip title="New Face">
                <span class="glyphicon glyphicon-plus-sign"></span> 
            </button>
        </div>

        <div class="col-xs-11">
            <div class="input-group pull-right">
                <div class="dropup pull-left">
                    <button class="btn btn-default btn-sm"
                            style="margin-right: 4px;"
                            ng-bind="vm.labelPagination"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu" style="left: -45px;" aria-labelledby="dLabel">
                        <li><a ng-click="vm.firstPage()">Primera página</a></li>
                        <li><a ng-click="vm.lastPage()">Última página</a></li>
                    </ul>
                </div>
                <div class="pull-right">
                    <button class="btn btn-default btn-sm" ng-disabled="vm.previousPageDisabled" ng-click="vm.previousPage()">
                        <i class="glyphicon glyphicon-menu-left"></i>
                    </button>
                    <button class="btn btn-default btn-sm" ng-disabled="vm.nextPageDisabled" ng-click="vm.nextPage()">
                        <i class="glyphicon glyphicon-menu-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="content row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-hover" sortable data-callback="vm.sortBy">
                    <thead>
                        <tr>
                            <th data-title="Project" data-column="project"></th>
                            <th data-title="Tunnel" data-column="tunnel"></th>
                            <th data-title="Name" data-column="name"></th>
                            <th data-title="Chainage" data-column="chainage"></th>
                            <th data-title="Orientation" data-column="orientation"></th>
                            <th data-title="Inclination" data-column="inclination"></th>
                            <th data-title="Direction" data-column="direction"></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="face in vm.faces">
                            <td ng-bind="::face.Tunnel.Project.Name" class="text-left"></td>
                            <td ng-bind="::face.Tunnel.Name" class="text-left"></td>
                            <td ng-bind="::face.Name" class="text-left"></td>
                            <td ng-bind="::face.RefChainage"></td>
                            <td ng-bind="::face.Orientation"></td>
                            <td ng-bind="::face.Inclination"></td>
                            <td>{{face.Direction == 0 ? 'Ascendente' : 'Descendente'}}</td>
                            <td class="hidden-md hidden-xs">
                                <button class="btn btn-warning"
                                        ui-sref="app.face-edit({ faceId: face.id })"
                                        tooltip
                                        title="Edit">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>

                                <button class="btn btn-danger"
                                        ng-click="vm.showDeleteConfirmation(face)"
                                        tooltip
                                        title="Delete">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </td>
                            <td class="visible-xs visible-md hidden-lg">
                                <button class="btn btn-warning" ui-sref="app.face-edit({ faceId: face.id })">
                                    Edit <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>

                                <button class="btn btn-danger" ng-click="vm.showDeleteConfirmation(face)">
                                    Delete <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

