<div class="row">
	<div class="col-xs-3" style="padding-top: 40px;">
		<ul content-menu class="content-menu">
			<li role="presentation" class="active"> <a data-target="#rock-mass-overview">Rock Mass Overview</a> </li>
			<li role="presentation"> <a data-target="#lithologies">Lithologies</a>
				<ul>
					<li role="presentation" ng-repeat="lithology in vm.mapping.Lithologies | orderBy : 'Position'"> <a data-target="#lithology-head-{{lithology.Position}}">Lithology {{lithology.Position + 1}}</a> </li>
				</ul>
			</li>
			<li role="presentation" class="active"> <a data-target="#discontinuity-systems">Discontinuity Systems</a>
				<ul>
					<li role="presentation" ng-repeat="discontinuity in vm.mapping.Discontinuities | orderBy : 'Position'"> <a data-target="#discontinuity-head-{{discontinuity.Position}}">Discontinuity {{discontinuity.Position + 1}}</a> </li>
				</ul>
			</li>
			<li role="presentation"> <a data-target="#additional-information-failure-zones">Additional Information - Failure Zones</a>
				<ul>
					<li role="presentation"> <a data-target="#additional-information">Additional Information</a> </li>
					<li role="presentation"> <a data-target="#failure-zone">Failure Zone</a> </li>
					<li role="presentation"> <a data-target="#particularities">Particularities</a> </li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="col-xs-9">
		<div class="row">
			<div class="col-xs-12">
				<h3 id="rock-mass-overview" style="margin: 40px 0px 40px 0px;">Rock Mass Overview</h3> </div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group">
					<label>Genetic Group</label>
					<select name="genetic-group" class="form-control" ng-class="{errorFormulario: vm.originals.rockMass.GeneticGroup.code != vm.rockMass.GeneticGroup.code}" ng-model="vm.rockMass.GeneticGroup" ng-options="geneticGroup.description for geneticGroup in vm.characterization.GeneticGroups" ng-change="vm.updateRockMassSubGroup()" ng-disabled="vm.mapping.Finished"> </select>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label>Joiting</label>
					<select name="jointing" class="form-control" ng-class="{errorFormulario: vm.originals.rockMass.Jointing.code != vm.rockMass.Jointing.code}" ng-model="vm.rockMass.Jointing" ng-options="jointing.description for jointing in vm.characterization.Jointings" ng-change="addChange('rockMass','jointing',vm.rockMass.Jointing.code,0)" ng-disabled="vm.mapping.Finished"> </select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group">
					<label>Rock Name</label>
					<select name="rock-name" class="form-control" ng-class="{errorFormulario: vm.originals.rockMass.RockName.code != vm.rockMass.RockName.code}" ng-model="vm.rockMass.RockName" ng-options="subGroup.description for subGroup in vm.characterization.SubGroups | filter : { groupGeneticCode: vm.rockMass.GeneticGroup.code }" ng-change="addChange('rockMass','rockname',vm.rockMass.RockName.code,0)" ng-disabled="vm.mapping.Finished"> </select>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label>Strength</label>
					<select name="strength" class="form-control" ng-class="{errorFormulario: vm.originals.rockMass.Strength.code != vm.rockMass.Strength.code}" ng-model="vm.rockMass.Strength" ng-options="strength.description for strength in vm.characterization.Strengths" ng-change="addChange('rockMass','strength',vm.rockMass.Strength.code,0)" ng-disabled="vm.mapping.Finished"> </select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group">
					<label>Structure</label>
					<select name="structure" class="form-control" ng-class="{errorFormulario: vm.originals.rockMass.Structure.code != vm.rockMass.Structure.code}" ng-model="vm.rockMass.Structure" ng-options="structure.description for structure in vm.characterization.Structures" ng-change="addChange('rockMass','structure',vm.rockMass.Structure.code,0)" ng-disabled="vm.mapping.Finished"> </select>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label>Water</label>
					<select name="water" class="form-control" ng-class="{errorFormulario: vm.originals.rockMass.Water.code != vm.rockMass.Water.code}" ng-model="vm.rockMass.Water" ng-options="water.description for water in vm.characterization.Waters" ng-change="addChange('rockMass','water',vm.rockMass.Water.code,0)" ng-disabled="vm.mapping.Finished"> </select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group">
					<label>Weathering</label>
					<select name="weathering" class="form-control" ng-class="{errorFormulario: vm.originals.rockMass.Weathering.code != vm.rockMass.Weathering.code}" ng-model="vm.rockMass.Weathering" ng-options="weathering.description for weathering in vm.characterization.Weatherings" ng-change="addChange('rockMass','weathering',vm.rockMass.Weathering.code,0)" ng-disabled="vm.mapping.Finished"> </select>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label>Water Tº [ºC]</label>
					<input class="form-control" name="water-t-c" type="number" min="0" required ng-model="vm.rockMass.WaterT" ng-disabled="vm.mapping.Finished" ng-class="{errorFormulario: vm.originals.rockMass.WaterTC != vm.rockMass.WaterT}" ng-change="addChange('rockMass','water-t-c',vm.rockMass.WaterT,0)"></input>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group">
					<label>Colour Value</label>
					<select name="color-value" class="form-control" ng-class="{errorFormulario: vm.originals.rockMass.ColorValue.code != vm.rockMass.ColorValue.code}" ng-model="vm.rockMass.ColorValue" ng-options="colour.description for colour in vm.characterization.ColourValues" ng-change="addChange('rockMass','color-value',vm.rockMass.ColorValue.code,0)" ng-disabled="vm.mapping.Finished"> </select>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label>Water Quality</label>
					<select name="water-quality" class="form-control" ng-class="{errorFormulario: vm.originals.rockMass.WaterQuality.code != vm.rockMass.WaterQuality.code}" ng-model="vm.rockMass.WaterQuality" ng-options="waterQuality.description for waterQuality in vm.characterization.WaterQualities" ng-change="addChange('rockMass','water-quality',vm.rockMass.WaterQuality.code,0)" ng-disabled="vm.mapping.Finished"> </select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group">
					<label>Colour Chroma</label>
					<select name="color-chroma" class="form-control" ng-class="{errorFormulario: vm.originals.rockMass.ColorChroma.code != vm.rockMass.ColorChroma.code}" ng-model="vm.rockMass.ColorChroma" ng-options="colour.description for colour in vm.characterization.ColourChromas" ng-change="addChange('rockMass','color-chroma',vm.rockMass.ColorChroma.code,0)" ng-disabled="vm.mapping.Finished"> </select>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label>Inflow [l/min]</label>
					<input class="form-control" name="inflow" type="number" min="0" required ng-model="vm.rockMass.Inflow" ng-disabled="vm.mapping.Finished" ng-class="{errorFormulario: vm.originals.rockMass.Inflow != vm.rockMass.Inflow}" ng-change="addChange('rockMass','inflow',vm.rockMass.Inflow,0)"></input>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group">
					<label>Colour Hue</label>
					<select name="color-hue" class="form-control" ng-class="{errorFormulario: vm.originals.rockMass.ColorHue.code != vm.rockMass.ColorHue.code}" ng-model="vm.rockMass.ColorHue" ng-options="colour.description for colour in vm.characterization.ColourHues" ng-change="addChange('rockMass','color-hue',vm.rockMass.ColorHue.code,0)" ng-disabled="vm.mapping.Finished"> </select>
				</div>
			</div>
		</div>
		<div class="row" style="border-bottom: 1px solid #CACACC; padding-bottom: 35px;"></div>
		<div class="row">
			<div class="col-xs-12">
				<h3 id="lithologies" style="margin: 40px 0px 40px 0px;">Lithologies</h3> </div>
		</div>
		<div class="row" ng-repeat="lithology in vm.mapping.Lithologies | orderBy : 'Position'">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12">
						<h4 style="margin: 20px 0px 20px 0px;" id="lithology-head-{{lithology.Position}}">Lithology {{lithology.Position + 1}}</h4> </div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label>Presence [%]</label>
							<input class="form-control" name="presence" type="number" required ng-model="lithology.Presence" ng-disabled="vm.mapping.Finished" ng-change="addChange('lithology','presence',lithology.Presence,{{lithology.Position}})" ng-class="{errorFormulario: vm.originals.lithologies[{{lithology.Position}}].Presence != lithology.Presence}"></input>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label>Colour Chroma</label>
							<select name="color-chroma" class="form-control" ng-class="{errorFormulario: vm.originals.lithologies[{{lithology.Position}}].ColourChroma.code != lithology.ColourChroma.code}" ng-model="lithology.ColourChroma" ng-options="colour.description for colour in vm.characterization.ColourChromas" ng-change="addChange('lithology','color-chroma',lithology.ColourChroma.code,{{lithology.Position}})" ng-disabled="vm.mapping.Finished"> </select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label>Genetic Group</label>
							<select name="genetic-group" class="form-control" ng-class="{errorFormulario: vm.originals.lithologies[{{lithology.Position}}].GeneticGroup.code != lithology.GeneticGroup.code}" ng-model="lithology.GeneticGroup" ng-options="geneticGroup.description for geneticGroup in vm.characterization.GeneticGroups" ng-change="addChange('lithology','genetic-group',lithology.GeneticGroup.code,{{lithology.Position}})" ng-disabled="vm.mapping.Finished"> </select>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label>Colour Hue</label>
							<select name="colour-hue" class="form-control" ng-class="{errorFormulario: vm.originals.lithologies[{{lithology.Position}}].ColorHue.code != lithology.ColorHue.code}" ng-model="lithology.ColorHue" ng-options="colour.description for colour in vm.characterization.ColourHues" ng-change="addChange('lithology','colour-hue',lithology.ColorHue.code,{{lithology.Position}})" ng-disabled="vm.mapping.Finished"> </select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label>Rock Name</label>
							<select name="sub-group" class="form-control" ng-class="{errorFormulario: vm.originals.lithologies[{{lithology.Position}}].SubGroup.code != lithology.SubGroup.code}" ng-model="lithology.SubGroup" ng-options="subGroup.description for subGroup in vm.characterization.SubGroups | filter : { groupGeneticCode: lithology.GeneticGroup.code }" ng-change="addChange('lithology','rock-name',lithology.SubGroup.code,{{lithology.Position}})" ng-disabled="vm.mapping.Finished"> </select>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label>Strength [Mpa]</label>
							<select name="strength" class="form-control" ng-class="{errorFormulario: vm.originals.lithologies[{{lithology.Position}}].Strength.code != lithology.Strength.code}" ng-model="lithology.Strength" ng-options="strength.description for strength in vm.characterization.Strengths" ng-change="addChange('lithology','strength',lithology.Strength.code,{{lithology.Position}})" ng-disabled="vm.mapping.Finished"> </select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label>Formation/Unit</label>
							<select name="formation-unit" class="form-control" ng-class="{errorFormulario: vm.originals.lithologies[{{lithology.Position}}].FormationUnit.Code != lithology.FormationUnit.Code}" ng-model="lithology.FormationUnit" ng-options="formatioUnit.Label for formatioUnit in vm.formationUnits" ng-change="addChange('lithology','formationUnit',lithology.FormationUnit.Code,{{lithology.Position}})" ng-disabled="vm.mapping.Finished"> </select>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label>Texture</label>
							<select name="texture" class="form-control" ng-class="{errorFormulario: vm.originals.lithologies[{{lithology.Position}}].Texture.code != lithology.Texture.code}" ng-model="lithology.Texture" ng-options="texture.description for texture in vm.characterization.Textures" ng-change="addChange('lithology','texture',lithology.Texture.code,{{lithology.Position}})" ng-disabled="vm.mapping.Finished"> </select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label>Weathering</label>
							<select name="alteration-weathering" class="form-control" ng-class="{errorFormulario: vm.originals.lithologies[{{lithology.Position}}].AlterationWeathering.code != lithology.AlterationWeathering.code}" ng-model="lithology.AlterationWeathering" ng-options="aw.description for aw in vm.characterization.AlterationsWeathering" ng-change="addChange('lithology','alteration-weathering',lithology.AlterationWeathering.code,{{lithology.Position}})" ng-disabled="vm.mapping.Finished"> </select>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label>Grain Size [mm]</label>
							<select name="grain-size" class="form-control" ng-class="{errorFormulario: vm.originals.lithologies[{{lithology.Position}}].GrainSize.code != lithology.GrainSize.code}" ng-model="lithology.GrainSize" ng-options="grainSize.description for grainSize in vm.characterization.GrainSizes" ng-change="addChange('lithology','grain-size',lithology.GrainSize.code,{{lithology.Position}})" ng-disabled="vm.mapping.Finished"> </select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label>Colour Value</label>
							<select name="color-value" class="form-control" ng-class="{errorFormulario: vm.originals.lithologies[{{lithology.Position}}].ColorValue.code != lithology.ColourValue.code}" ng-model="lithology.ColourValue" ng-options="colour.description for colour in vm.characterization.ColourValues" ng-change="addChange('lithology','color-value',lithology.ColourValue.code,{{lithology.Position}})" ng-disabled="vm.mapping.Finished"> </select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<div class="form-group">
							<label>J(v) (joints/m3) min</label>
							<input class="form-control" name="jvmin" type="number" required ng-class="{errorFormulario: vm.originals.lithologies[{{lithology.Position}}].JvMin != lithology.JvMin}" ng-model="lithology.JvMin" ng-change="addChange('lithology','jvmin',lithology.JvMin,{{lithology.Position}})" ng-disabled="vm.mapping.Finished" /> </div>
					</div>
					<div class="col-xs-3">
						<label>max</label>
						<input class="form-control" name="jvmax" type="number" required ng-class="{errorFormulario: vm.originals.lithologies[{{lithology.Position}}].JvMax != lithology.JvMax}" ng-model="lithology.JvMax" ng-change="addChange('lithology','jvmax',lithology.JvMax,{{lithology.Position}})" ng-disabled="vm.mapping.Finished" /> </div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label>Block Shape</label>
							<select name="blockshape" class="form-control" ng-class="{errorFormulario: vm.originals.lithologies[{{lithology.Position}}].BlockShape.code != lithology.BlockShape.code}" ng-model="lithology.BlockShape" ng-options="blockShape.description for blockShape in vm.characterization.BlockShapes" ng-change="addChange('lithology','blockshape',lithology.BlockShape.code,{{lithology.Position}})" ng-disabled="vm.mapping.Finished"> </select>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="row">
							<div class="col-xs-6">
								<label>Block Size (LxWxH) [m]</label>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4">
								<div class="form-group">
									<input class="form-control" name="block-size-one" type="number" required ng-class="{errorFormulario: vm.originals.lithologies[{{lithology.Position}}].BlockSizeOne != lithology.BlockSizeOne}" ng-model="lithology.BlockSizeOne" ng-change="addChange('lithology','block-size-one',lithology.BlockSizeOne,{{lithology.Position}})" ng-disabled="vm.mapping.Finished" /> </div>
							</div>
							<div class="col-xs-4">
								<input class="form-control" name="block-size-two" type="number" required ng-class="{errorFormulario: vm.originals.lithologies[{{lithology.Position}}].BlockSizeTwo != lithology.BlockSizeTwo}" ng-model="lithology.BlockSizeTwo" ng-change="addChange('lithology','block-size-two',lithology.BlockSizeTwo,{{lithology.Position}})" ng-disabled="vm.mapping.Finished" /> </div>
							<div class="col-xs-4">
								<input class="form-control" name="block-size-three" type="number" required ng-class="{errorFormulario: vm.originals.lithologies[{{lithology.Position}}].BlockSizeThree != lithology.BlockSizeThree}" ng-model="lithology.BlockSizeThree" ng-change="addChange('lithology','block-size-three',lithology.BlockSizeThree,{{lithology.Position}})" ng-disabled="vm.mapping.Finished" /> </div>
						</div>
					</div>
				</div>
				<div class="row" ng-class="{'end-subform': !$last}"> </div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h2 id="discontinuity-systems" style="margin: 40px 0px 20px 0px;">Discontinuity Systems</h2> </div>
		</div>
		<div class="row" ng-repeat="discontinuity in vm.mapping.Discontinuities | orderBy : 'Position'">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12">
						<h3 style="margin: 20px 0px 20px 0px; cursor: pointer;" id="discontinuity-head-{{discontinuity.Position}}">Discontinuity {{discontinuity.Position + 1}}</h3> </div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label>Type</label>
							<select name="type" class="form-control" ng-class="{errorFormulario: vm.originals.discontinuities[{{discontinuity.Position}}].Type.code != discontinuity.Type.code}" ng-model="discontinuity.Type" ng-options="type.description for type in vm.characterization.DiscontinuityTypes" ng-change="addChange('discontinuity','type',discontinuity.Type.code,{{discontinuity.Position}})" ng-disabled="vm.mapping.Finished"> </select>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label>Opening</label>
							<select name="opening" class="form-control" ng-class="{errorFormulario: vm.originals.discontinuities[{{discontinuity.Position}}].Opening.code != discontinuity.Opening.code}" ng-model="discontinuity.Opening" ng-options="opening.description for opening in vm.characterization.Openings" ng-change="addChange('discontinuity','opening',discontinuity.Opening.code,{{discontinuity.Position}})" ng-disabled="vm.mapping.Finished"> </select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label>Relevance</label>
							<select name="relevance" class="form-control" ng-class="{errorFormulario: vm.originals.discontinuities[{{discontinuity.Position}}].Relevance.code != discontinuity.Relevance.code}" ng-model="discontinuity.Relevance" ng-options="relevance.description for relevance in vm.characterization.Relevances" ng-change="addChange('discontinuity','relevance',discontinuity.Relevance.code,{{discontinuity.Position}})" ng-disabled="vm.mapping.Finished"> </select>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label>Roughness</label>
							<select name="roughness" class="form-control" ng-class="{errorFormulario: vm.originals.discontinuities[{{discontinuity.Position}}].Roughness.code != discontinuity.Roughness.code}" ng-model="discontinuity.Roughness" ng-options="roughness.description for roughness in vm.characterization.Roughnesses" ng-change="addChange('discontinuity','roughness',discontinuity.Roughness.code,{{discontinuity.Position}})" ng-disabled="vm.mapping.Finished"> </select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label>Orientation DD [º]</label>
							<input class="form-control" name="orientation-dd" type="number" required ng-model="discontinuity.OrientationDd" ng-change="addChange('discontinuity','orientationDd',discontinuity.OrientationDd,{{discontinuity.Position}})" ng-disabled="vm.mapping.Finished" ng-class="{errorFormulario: vm.originals.discontinuities[{{discontinuity.Position}}].OrientationDd != discontinuity.OrientationDd}"></input>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label>Slickensided</label>
							<select name="slickensided" class="form-control" ng-class="{errorFormulario: vm.originals.discontinuities[{{discontinuity.Position}}].Slickensided.code != discontinuity.Slickensided.code}" ng-model="discontinuity.Slickensided" ng-options="slickensided.description for slickensided in vm.characterization.Slickensideds" ng-change="addChange('discontinuity','slickensided',discontinuity.Slickensided.code,{{discontinuity.Position}})" ng-disabled="vm.mapping.Finished"> </select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label>Orientation D [º]</label>
							<input class="form-control" name="orientation-d" type="number" required ng-model="discontinuity.OrientationD" ng-change="addChange('discontinuity','orientationD',discontinuity.OrientationD,{{discontinuity.Position}})" ng-disabled="vm.mapping.Finished" ng-class="{errorFormulario: vm.originals.discontinuities[{{discontinuity.Position}}].OrientationD != discontinuity.OrientationD}"></input>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label>Infiling</label>
							<select name="infiling" class="form-control" ng-class="{errorFormulario: vm.originals.discontinuities[{{discontinuity.Position}}].Infilling.code != discontinuity.Infilling.code}" ng-model="discontinuity.Infilling" ng-options="infilling.description for infilling in vm.characterization.Infillings" ng-change="addChange('discontinuity','infilling',discontinuity.Infilling.code,{{discontinuity.Position}})" ng-disabled="vm.mapping.Finished"> </select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label>Spacing</label>
							<select name="spacing" class="form-control" ng-class="{errorFormulario: vm.originals.discontinuities[{{discontinuity.Position}}].Spacing.code != discontinuity.Spacing.code}" ng-model="discontinuity.Spacing" ng-options="spacing.description for spacing in vm.characterization.Spacings" ng-change="addChange('discontinuity','spacing',discontinuity.Spacing.code,{{discontinuity.Position}})" ng-disabled="vm.mapping.Finished"> </select>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label>Infiling Type</label>
							<select name="infiling-type" class="form-control" ng-class="{errorFormulario: vm.originals.discontinuities[{{discontinuity.Position}}].InfillingType.code != discontinuity.InfillingType.code}" ng-model="discontinuity.InfillingType" ng-options="type.description for type in vm.characterization.InfillingTypes" ng-change="addChange('discontinuity','infillingType',discontinuity.InfillingType.code,{{discontinuity.Position}})" ng-disabled="vm.mapping.Finished"> </select>
						</div>
					</div>
				</div>
				<div class="row" ng-class="{ 'end-subform': !$last, 'end-form': $last }">
					<div class="col-xs-6">
						<div class="form-group">
							<label>Persistence</label>
							<select name="persistence" class="form-control" ng-class="{errorFormulario: vm.originals.discontinuities[{{discontinuity.Position}}].Persistence.code != discontinuity.Persistence.code}" ng-model="discontinuity.Persistence" ng-options="persistence.description for persistence in vm.characterization.Persistences" ng-change="addChange('discontinuity','persistence',discontinuity.Persistence.code,{{discontinuity.Position}})" ng-disabled="vm.mapping.Finished"> </select>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label>Weathering</label>
							<select name="weathering" class="form-control" ng-class="{errorFormulario: vm.originals.discontinuities[{{discontinuity.Position}}].Weathering.code != discontinuity.Weathering.code}" ng-model="discontinuity.Weathering" ng-options="weathering.description for weathering in vm.characterization.Weatherings" ng-change="addChange('discontinuity','weathering',discontinuity.Weathering.code,{{discontinuity.Position}})" ng-disabled="vm.mapping.Finished"> </select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h3 style="margin: 20px 0px 20px 0px;" id="additional-information">Additional Information</h3> </div>
		</div>
		<div class="row end-subform">
			<div class="col-xs-6">
				<label>Special Features</label>
				<div class="checkbox">
					<label ng-class="{errorFormularioCheck: vm.originals.additionalInformation.SpecialFeatures.None != vm.additionalInformation.SpecialFeatures.None}">
						<input type="checkbox" ng-model="vm.additionalInformation.SpecialFeatures.None" ng-disabled="vm.mapping.Finished" ng-change="addChange('addInfo','none-special',vm.additionalInformation.SpecialFeatures.None,0)" ng-click="vm.uncheckSpecialFeatures()" /> None</label>
				</div>
				<div class="checkbox">
					<label ng-class="{errorFormularioCheck: vm.originals.additionalInformation.SpecialFeatures.Zeolites != vm.additionalInformation.SpecialFeatures.Zeolites}">
						<input type="checkbox" ng-model="vm.additionalInformation.SpecialFeatures.Zeolites" ng-disabled="vm.mapping.Finished || vm.additionalInformation.SpecialFeatures.None" ng-change="addChange('addInfo','zeolites',vm.additionalInformation.SpecialFeatures.Zeolites,0)" /> Zeolites</label>
				</div>
				<div class="checkbox">
					<label ng-class="{errorFormularioCheck: vm.originals.additionalInformation.SpecialFeatures.Clay != vm.additionalInformation.SpecialFeatures.Clay}">
						<input type="checkbox" ng-model="vm.additionalInformation.SpecialFeatures.Clay" ng-disabled="vm.mapping.Finished || vm.additionalInformation.SpecialFeatures.None" ng-change="addChange('addInfo','clay',vm.additionalInformation.SpecialFeatures.Clay,0)" /> Clay</label>
				</div>
				<div class="checkbox">
					<label ng-class="{errorFormularioCheck: vm.originals.additionalInformation.SpecialFeatures.Chlorite != vm.additionalInformation.SpecialFeatures.Chlorite}">
						<input type="checkbox" ng-model="vm.additionalInformation.SpecialFeatures.Chlorite" ng-disabled="vm.mapping.Finished || vm.additionalInformation.SpecialFeatures.None" ng-change="addChange('addInfo','chlorite',vm.additionalInformation.SpecialFeatures.Chlorite,0)" /> Chlorite</label>
				</div>
				<div class="checkbox">
					<label ng-class="{errorFormularioCheck: vm.originals.additionalInformation.SpecialFeatures.RedTuff != vm.additionalInformation.SpecialFeatures.RedTuff}">
						<input type="checkbox" ng-model="vm.additionalInformation.SpecialFeatures.RedTuff" ng-disabled="vm.mapping.Finished || vm.additionalInformation.SpecialFeatures.None" ng-change="addChange('addInfo','redtuff',vm.additionalInformation.SpecialFeatures.RedTuff,0)" /> Red Tuff</label>
				</div>
				<div class="checkbox">
					<label ng-class="{errorFormularioCheck: vm.originals.additionalInformation.SpecialFeatures.Sulfides != vm.additionalInformation.SpecialFeatures.Sulfides}">
						<input type="checkbox" ng-model="vm.additionalInformation.SpecialFeatures.Sulfides" ng-disabled="vm.mapping.Finished || vm.additionalInformation.SpecialFeatures.None" ng-change="addChange('addInfo','sulfides',vm.additionalInformation.SpecialFeatures.Sulfides,0)" /> Sulfides</label>
				</div>
				<div class="checkbox">
					<label ng-class="{errorFormularioCheck: vm.originals.additionalInformation.SpecialFeatures.Sulfates != vm.additionalInformation.SpecialFeatures.Sulfates}">
						<input type="checkbox" ng-model="vm.additionalInformation.SpecialFeatures.Sulfates" ng-disabled="vm.mapping.Finished || vm.additionalInformation.SpecialFeatures.None" ng-change="addChange('addInfo','sulfates',vm.additionalInformation.SpecialFeatures.Sulfates,0)" /> Sulfates</label>
				</div>
			</div>
			<div class="col-xs-6">
				<label>Rock Mass Hazard</label>
				<div class="checkbox">
					<label ng-class="{errorFormularioCheck: vm.originals.additionalInformation.RockMassHazard.None != vm.additionalInformation.RockMassHazard.None}">
						<input type="checkbox" ng-model="vm.additionalInformation.RockMassHazard.None" ng-disabled="vm.mapping.Finished" ng-change="addChange('addInfo','none-rock',vm.additionalInformation.RockMassHazard.None,0)" ng-click="vm.uncheckRockMassHazard()" /> None </label>
				</div>
				<div class="checkbox">
					<label ng-class="{errorFormularioCheck: vm.originals.additionalInformation.RockMassHazard.RockBurst != vm.additionalInformation.RockMassHazard.RockBurst}">
						<input type="checkbox" ng-model="vm.additionalInformation.RockMassHazard.RockBurst" ng-disabled="vm.mapping.Finished || vm.additionalInformation.RockMassHazard.None" ng-change="addChange('addInfo','rockburst',vm.additionalInformation.RockMassHazard.RockBurst,0)" /> Rock Burst </label>
				</div>
				<div class="checkbox">
					<label ng-class="{errorFormularioCheck: vm.originals.additionalInformation.RockMassHazard.Swelling != vm.additionalInformation.RockMassHazard.Swelling}">
						<input type="checkbox" ng-model="vm.additionalInformation.RockMassHazard.Swelling" ng-disabled="vm.mapping.Finished || vm.additionalInformation.RockMassHazard.None" ng-change="addChange('addInfo','swelling',vm.additionalInformation.RockMassHazard.Swelling,0)" /> Swelling </label>
				</div>
				<div class="checkbox">
					<label ng-class="{errorFormularioCheck: vm.originals.additionalInformation.RockMassHazard.Squeezing != vm.additionalInformation.RockMassHazard.Squeezing}">
						<input type="checkbox" ng-model="vm.additionalInformation.RockMassHazard.Squeezing" ng-disabled="vm.mapping.Finished || vm.additionalInformation.RockMassHazard.None" ng-change="addChange('addInfo','squeezing',vm.additionalInformation.RockMassHazard.Squeezing,0)" /> Squeezing </label>
				</div>
				<div class="checkbox">
					<label ng-class="{errorFormularioCheck: vm.originals.additionalInformation.RockMassHazard.Slaking != vm.additionalInformation.RockMassHazard.Slaking}">
						<input type="checkbox" ng-model="vm.additionalInformation.RockMassHazard.Slaking" ng-disabled="vm.mapping.Finished || vm.additionalInformation.RockMassHazard.None" ng-change="addChange('addInfo','slaking',vm.additionalInformation.RockMassHazard.Slaking,0)" /> Slaking </label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h3 style="margin: 20px 0px 20px 0px;" id="failure-zone">Failure Zone</h3> </div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group">
					<label>Sense of movement</label>
					<select name="type-of-sense-movement" class="form-control" ng-class="{errorFormulario: vm.originals.additionalInformation.failureZone.SenseOfMovement.code != vm.failureZone.SenseOfMovement.code}" ng-model="vm.failureZone.SenseOfMovement" ng-options="type.description for type in vm.characterization.SenseOfMovement" ng-change="addChange('addInfo','sense-of-movement',vm.failureZone.SenseOfMovement.code,0)" ng-disabled="vm.mapping.Finished"> </select>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label>Matrix Color Chroma</label>
					<select name="matrix-color-chroma" class="form-control" ng-class="{errorFormulario: vm.originals.additionalInformation.failureZone.MatrixColourChroma.code != vm.failureZone.MatrixColourChroma.code}" ng-model="vm.failureZone.MatrixColourChroma" ng-options="chroma.description for chroma in vm.characterization.ColourChromas" ng-change="addChange('addInfo','matrix-color-chroma',vm.failureZone.MatrixColourChroma.code,0)" ng-disabled="vm.mapping.Finished"> </select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="row">
					<div class="col-xs-10">
						<div class="form-group">
							<label>Rake of striae [º]</label>
							<input class="form-control" name="rakeofstriae-d" type="number" ng-model="vm.failureZone.RakeOfStriae" ng-disabled="vm.mapping.Finished || vm.failureZone.NoneRake" ng-change="addChange('addInfo','rake-of-striae',vm.failureZone.RakeOfStriae,0)" ng-class="{errorFormulario: vm.originals.additionalInformation.failureZone.RakeOfStriae != vm.failureZone.RakeOfStriae}"></input>
						</div>
					</div>
					<div class="col-xs-2">
						<div class="checkbox">
							<label ng-class="{errorFormularioCheck: vm.originals.additionalInformation.failureZone.NoneRake != vm.failureZone.NoneRake}">
								<input type="checkbox" ng-model="vm.failureZone.NoneRake" ng-disabled="vm.mapping.Finished" ng-change="addChange('addInfo','rake-of-striae-na',vm.failureZone.NoneRake,0)" ng-click="vm.setDefaultRakeOfStriae()" /> N/A </label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group">
					<label>Matrix Color Hue</label>
					<select name="matrix-color-hue" class="form-control" ng-class="{errorFormulario: vm.originals.additionalInformation.failureZone.MatrixColourHue.code != vm.failureZone.MatrixColourHue.code}" ng-model="vm.failureZone.MatrixColourHue" ng-options="hue.description for hue in vm.characterization.ColourHues" ng-change="addChange('addInfo','matrix-color-hue',vm.failureZone.MatrixColourHue.code,0)" ng-disabled="vm.mapping.Finished"> </select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group">
					<label>Orientation DD [º]</label>
					<input class="form-control" name="orientation-dd" type="number" required ng-model="vm.failureZone.OrientationDd" ng-disabled="vm.mapping.Finished" ng-change="addChange('addInfo','orientation-Dd',vm.failureZone.OrientationDd,0)" ng-class="{errorFormulario: vm.originals.additionalInformation.failureZone.OrientationDd != vm.failureZone.OrientationDd}"></input>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label>Matrix Grain Size [mm]</label>
					<select name="matrix-grain-size" class="form-control" ng-class="{errorFormulario: vm.originals.additionalInformation.failureZone.MatrixGrainSize.code != vm.failureZone.MatrixGrainSize.code}" ng-model="vm.failureZone.MatrixGrainSize" ng-options="grainSize.description for grainSize in vm.characterization.GrainSizes" ng-change="addChange('addInfo','matrix-grain-size',vm.failureZone.MatrixGrainSize.code,0)" ng-disabled="vm.mapping.Finished"> </select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group">
					<label>Orientation D [º]</label>
					<input class="form-control" name="orientation-d" type="number" required ng-model="vm.failureZone.OrientationD" ng-disabled="vm.mapping.Finished" ng-change="addChange('addInfo','orientationD',vm.failureZone.OrientationD,0)" ng-class="{errorFormulario: vm.originals.additionalInformation.failureZone.OrientationD != vm.failureZone.OrientationD}"></input>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label>Block Size</label>
					<select name="block-size" class="form-control" ng-class="{errorFormulario: vm.originals.additionalInformation.failureZone.BlockSize.code != vm.failureZone.BlockSize.code}" ng-model="vm.failureZone.BlockSize" ng-options="blockSize.description for blockSize in vm.characterization.BlockSizes" ng-change="addChange('addInfo','block-size',vm.failureZone.BlockSize.code,0)" ng-disabled="vm.mapping.Finished"> </select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group">
					<label>Thickness [m]</label>
					<input class="form-control" name="thickness-m" type="number" required ng-model="vm.failureZone.Thickness" ng-disabled="vm.mapping.Finished" ng-change="addChange('addInfo','thickness',vm.failureZone.Thickness,0)" ng-class="{errorFormulario: vm.originals.additionalInformation.failureZone.Thickness != vm.failureZone.Thickness}"></input>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label>Block Shape</label>
					<select name="block-shape" class="form-control" ng-class="{errorFormulario: vm.originals.additionalInformation.failureZone.BlockShape.code != vm.failureZone.BlockShape.code}" ng-model="vm.failureZone.BlockShape" ng-options="blockShape.description for blockShape in vm.characterization.BlockShapeTypes" ng-change="addChange('addInfo','block-shape',vm.failureZone.BlockShape.code,0)" ng-disabled="vm.mapping.Finished"> </select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group">
					<label>Matrix/Block [%]</label>
					<input class="form-control" name="matrix-block" type="number" required ng-model="vm.failureZone.MatrixBlock" ng-disabled="vm.mapping.Finished" ng-change="addChange('addInfo','matrix-block',vm.failureZone.MatrixBlock,0)" ng-class="{errorFormulario: vm.originals.additionalInformation.failureZone.MatrixBlock != vm.failureZone.MatrixBlock}"></input>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label>Block Genetic Group</label>
					<select name="block-genetic-group" class="form-control" ng-class="{errorFormulario: vm.originals.additionalInformation.failureZone.BlockGeneticGroup.code != vm.failureZone.BlockGeneticGroup.code}" ng-model="vm.failureZone.BlockGeneticGroup" ng-options="group.description for group in vm.characterization.GeneticGroups" ng-change="addChange('addInfo','block-genetic-group',vm.failureZone.BlockGeneticGroup.code,0)" ng-disabled="vm.mapping.Finished"> </select>
				</div>
			</div>
		</div>
		<div class="row end-subform">
			<div class="col-xs-6">
				<div class="form-group">
					<label>Matrix Color Value</label>
					<select name="matrix-color-value" class="form-control" ng-class="{errorFormulario: vm.originals.additionalInformation.failureZone.MatrixColourValue.code != vm.failureZone.MatrixColourValue.code}" ng-model="vm.failureZone.MatrixColourValue" ng-options="value.description for value in vm.characterization.ColourValues" ng-change="addChange('addInfo','matrix-color-value',vm.failureZone.MatrixColourValue.code,0)" ng-disabled="vm.mapping.Finished"> </select>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label>Block Sub-group</label>
					<select name="block-sub-group" class="form-control" ng-class="{errorFormulario: vm.originals.additionalInformation.failureZone.BlockSubGroup.code != vm.failureZone.BlockSubGroup.code}" ng-model="vm.failureZone.BlockSubGroup" ng-options="subGroup.description for subGroup in vm.characterization.SubGroups | filter : { groupGeneticCode: vm.failureZone.BlockGeneticGroup.code }" ng-change="addChange('addInfo','block-sub-group',vm.failureZone.BlockSubGroup.code,0)" ng-disabled="vm.mapping.Finished"> </select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h3 style="margin: 20px 0px 20px 0px;" id="particularities">Particularities</h3> </div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h4>Instability</h4> </div>
		</div>
		<div class="row">
			<div class="checkbox">
				<label ng-class="{errorFormularioCheck: vm.originals.additionalInformation.Particularities.InstabilityNa != vm.particularities.InstabilityNa}">
					<input type="checkbox" ng-model="vm.particularities.InstabilityNa" ng-disabled="vm.mapping.Finished" ng-change="addChange('addInfo','instability-na',vm.particularities.InstabilityNa,0)" ng-click="vm.setDefaultInstability()" /> N/A </label>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group">
					<label>Caused By</label>
					<input class="form-control" name="instability-caused-by" type="text" required ng-model="vm.particularities.InstabilityCausedBy" ng-disabled="vm.mapping.Finished || vm.particularities.InstabilityNa" ng-change="addChange('addInfo','instability-caused-by',vm.particularities.InstabilityCausedBy,0)" ng-class="{errorFormulario: vm.originals.additionalInformation.Particularities.InstabilityCausedBy != vm.particularities.InstabilityCausedBy}"></input>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label>Location</label>
					<input class="form-control" name="instability-location" type="text" required ng-model="vm.particularities.InstabilityLocation" ng-disabled="vm.mapping.Finished || vm.particularities.InstabilityNa" ng-change="addChange('addInfo','instability-location',vm.particularities.InstabilityLocation,0)" ng-class="{errorFormulario: vm.originals.additionalInformation.Particularities.InstabilityLocation != vm.particularities.InstabilityLocation}"></input>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h4>Overbreak</h4> </div>
		</div>
		<div class="row">
			<div class="checkbox">
				<label ng-class="{errorFormularioCheck: vm.originals.additionalInformation.Particularities.OverbreakNa != vm.particularities.OverbreakNa}">
					<input type="checkbox" ng-model="vm.particularities.OverbreakNa" ng-disabled="vm.mapping.Finished" ng-change="addChange('addInfo','overbreak-na',vm.particularities.OverbreakNa,0)" ng-click="vm.setDefaultOverbreak()" /> N/A </label>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group">
					<label>Caused By</label>
					<select name="overbreak-caused-by" class="form-control" ng-model="vm.particularities.OverbreakCausedByValue" ng-options="value.description for value in vm.characterization.OverbreakCauses" ng-change="addChange('addInfo','overbreak-causes',vm.particularities.OverbreakCausedByValue.code,0)" ng-disabled="vm.mapping.Finished || vm.particularities.OverbreakNa" ng-class="{errorFormulario: vm.originals.additionalInformation.Particularities.OverbreakCausedByValue != vm.particularities.OverbreakCausedByValue.code}"> </select>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="row">
					<div class="form-group">
						<div class="col-xs-6">
							<label>Location Start</label>
							<input class="form-control" name="overbreak-locationStart" type="time" required ng-model="vm.particularities.OverbreakLocationStartDate" ng-disabled="vm.mapping.Finished || vm.particularities.OverbreakNa" ng-change="addChange('addInfo','overbreak-location-start',vm.particularities.OverbreakLocationStartDate,0)" ng-class="{errorFormulario: vm.originals.additionalInformation.Particularities.OverbreakLocationStart.getMinutes() != vm.particularities.OverbreakLocationStartDate.getMinutes() || vm.originals.additionalInformation.Particularities.OverbreakLocationStart.getHours() != vm.particularities.OverbreakLocationStartDate.getHours()}" placeholder="HH:mm:ss" min="00:00"></input>
						</div>
						<div class="col-xs-6">
							<label>Location End</label>
							<input class="form-control" name="overbreak-locationEnd" type="time" required ng-model="vm.particularities.OverbreakLocationEndDate" ng-disabled="vm.mapping.Finished || vm.particularities.OverbreakNa" ng-change="addChange('addInfo','overbreak-location-end',vm.particularities.OverbreakLocationEndDate,0)" ng-class="{errorFormulario: vm.originals.additionalInformation.Particularities.OverbreakLocationEnd.getMinutes() != vm.particularities.OverbreakLocationEndDate.getMinutes() || vm.originals.additionalInformation.Particularities.OverbreakLocationEnd.getHours() != vm.particularities.OverbreakLocationEndDate.getHours()}" placeholder="HH:mm:ss"></input>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group">
					<label>Volume [m3]</label>
					<input class="form-control" name="overbreak-volume" type="text" required ng-model="vm.particularities.OverbreakVolume" ng-disabled="vm.mapping.Finished || vm.particularities.OverbreakNa" ng-change="addChange('addInfo','overbreak-volume',vm.particularities.OverbreakVolume,0)" ng-class="{errorFormulario: vm.originals.additionalInformation.Particularities.OverbreakVolume != vm.particularities.OverbreakVolume}"></input>
				</div>
			</div>
		</div>
	</div>
</div>