<div class="container">
    <div class="row">
        <div class="col-xs-12" style="text-align: center;">
            <h2>Sorry, but you don't have enough privileges to access this page</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" style="text-align: center;">
            <button class="btn btn-primary" ui-sref="app.dashboard()">
                Go back to the main view
            </button>
        </div>
    </div>
</div>
