<div class="row">
    
    <div class="col-xs-3" style="padding-top: 40px;" ng-hide="vm.image.expanded">
        <ul content-menu class="content-menu">
            <li role="presentation" class="active">
                <a data-target="#pictures">Pictures</a>
            </li>
            <li role="presentation">
                <a data-target="#expanded-tunnels">Expanded Tunnel</a>
            </li>
        </ul>
    </div>

    <div class="col-xs-9">
        <div class="row" ng-hide="vm.image.expanded">
            <div class="col-xs-12">
                <h2 id="pictures" style="margin: 40px 0px 20px 0px;">Pictures</h2>
            </div>
        </div>

        <div class="row" ng-hide="vm.image.expanded">
            <div class="col-xs-6 col-md-3" ng-repeat="picture in vm.mapping.Pictures | orderBy: 'Code'">
                <a class="thumbnail">
                    <img ng-src="{{ picture.RemoteUri }}" alt="" style="height: 200px; width: 100%; display: block;"/>
                </a>
                
                <div class="caption">
                    <div class="pull-left">
                        <b ng-bind="::picture.SideName"></b>
                    </div>
                    <div class="pull-right">
                        <button type="button" title="Expand image" tooltip class="btn" ng-click="vm.expand(picture.RemoteUri)">
                            <i class="fa fa-expand"></i>
                        </button>
                        <button class="btn" tooltip title="View original image" ng-click="vm.expand(picture.RemoteUriOriginal)">
                            <i class="fa fa-picture-o"></i>
                        </button>
                        <button class="btn" tooltip title="Change current picture" ng-click="vm.uploadNewPicture(picture.Code)">
                            <i class="fa fa-external-link-square"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-hide="vm.uploadExternalPicture">
            <div class="col-xs-12">
                <h4 class="form-subheader">Upload external picture {{ vm.pictureSide }}</h4>
            </div>

            <div class="col-xs-12">
                <input class="bottom-marg-15" type="file" name="file" file />
            </div>

            <div class="col-xs-3">
                <a class="btn btn-primary btn-block btn-xs" ng-click="vm.uploadFile()">Upload</a>
            </div>
        </div>

        <div class="row" ng-hide="vm.image.expanded">
            <div class="col-xs-12">
                <h2 id="expanded-tunnels" style="margin: 40px 0px 20px 0px;">Expanded Tunnel</h2>
            </div>
        </div>

        <div class="row" ng-hide="vm.image.expanded">
            <div class="col-xs-6 col-md-3" ng-repeat="expandedTunnel in vm.mapping.ExpandedTunnels | orderBy: 'Code'">
                <a class="thumbnail">
                    <img ng-src="{{ expandedTunnel.RemoteUri }}" alt="" style="height: 200px; width: 100%; display: block;"/>
                </a>
                
                <div class="caption">
                    <div class="pull-left">
                        <b ng-bind="::expandedTunnel.SideName"></b>
                    </div>
                    <div class="pull-right">
                        <button type="button" title="Expand image" tooltip class="btn" ng-click="vm.expand(expandedTunnel.RemoteUri)">
                            <i class="fa fa-expand"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="vm.image.expanded">
    <div class="col-xs-12">
        <img ng-src="{{ vm.image.url }}" style="width: 100%;"/>
    
        <div class="pull-right" style="padding-top: 20px;">
            <button type="button" class="btn" ng-click="vm.close()"><i class="fa fa-compress"></i>Close image</button>
        </div>
    </div>
</div>
