<button class="btn btn-danger" ng-click="vm.createPdf()" ng-disabled="vm.updating" tooltip title="Export to Pdf"><span class="fa fa-file-pdf-o"></span></button>
<div ng-controller="ReportController as vm">
	<div id="exportthis">
		<div ng-if="vm.account.subscription.ReportType == 0" 
		ng-include="'mapping/detail/report/report-basic.tpl.html'"></div>
		<div ng-if="vm.account.subscription.ReportType == 1" 
		ng-include="'mapping/detail/report/report-full.tpl.html'"></div>
	</div>
	<div ng-if="vm.account.subscription.ReportType == 1" id="exportthis1">
		<div ng-include="'mapping/detail/report/report-full2.tpl.html'"></div>
	</div>
</div>