$brand-primary: $blue7;
$body-bg: $white;

$table-border-color: $gray4;
$table-cell-padding: 10px;

$input-border: $gray6;
$input-bg-disabled: $gray6;

$btn-default-bg: $gray4;

$border-radius-base: 3px;

$popover-max-width: 600px;
