
.chart-legend{
  text-align: center;
  color:$SkavaMenuIcon;
  padding:5px 0px 0px 0px;
  .ct-series-a{
    color:$SkavaBlue;
  }
  .ct-series-b{
    color:$red2;
  }
}

.tile-stats .ct-chart {
    margin-left: -30px;
}

.ct-perfect-fourth{

   .ct-series-a{

       .ct-line{
          stroke: $SkavaLightBlue;
          stroke-width: 5px;
          stroke-dasharray: 10px 5px;
        }
      .ct-point{
        stroke: $SkavaBlue;
      }
    }

    .ct-series-b{
      .ct-line{
        stroke:$red3;
      }
      .ct-point{
        stroke:$red2;
      }
    }

    .ct-label{
      color:$SkavaMenuIcon;
      font-size: 0.85rem;
      font-weight: bold;
    }
};


.y-axis{
  color:$gray5;
  .rotate {
    -moz-transform: rotate(-90.0deg);
    -o-transform: rotate(-90.0deg);
    -webkit-transform: rotate(-90.0deg);
    /* IE6,IE7
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083);
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
    transform: rotate(-90.0deg);
    vertical-align: middle;
    min-width: 50px;
    position:relative;
    left: -10px;
  }
}

.x-axis{
  color:$gray5;
  text-align: right;
}


.ct-golden-section{
  .ct-series-a{
    .ct-slice-donut{
      stroke:$SkavaYellow;
    }
  }
  .ct-series-b{
    .ct-slice-donut{
      stroke:$SkavaLightBlue;
    }
  }

  .ct-label{
    font-size: 1.5rem;
    font-weight: bold;
    fill:$SkavaMenuIcon;
  }
}
