$black: #000000;
$white: #FFFFFF;


$gray1: #606263;
$gray2: #D9D9D9;
$gray3: #333333;
$gray4: #F6F6F6;
$gray5: #BAB8B8;
$gray6: #CACACC;
$gray7: #F2F6F9;
$gray8: #404040;
$gray9: #BABABD;
$gray10: #333333;
$gray11: #969699;
$gray12: #EDEDED;
$gray13: #222222;

$green1: #5CB85C;
$green2: #449D44;
$green3:#7DC172;

$blue1: #3DACD4;
$blue2: #35A4B7;
$blue3: #2D8A9A;
$blue4: #31B0D5;
$blue5: #269ABC;
$blue6: #1B6D85;
$blue7: #2591CF;
$blue8: #c0e4f1;
$red1: #F9090A;
$red2:#d70206;
$red3:#FD625E;

$SkavaBlue: #0476c2;
$SkavaLightBlue: #2fb5fb;
$SkavaOrange: #ED6F00;
$SkavaYellow:#feb934;
$SkavaLigthGray: #f0f0f0;
$SkavaMenuText: #212121;
$SkavaMenuBack: #FAFAFA;
$SkavaMenuHoverBack: #DCDCDC;
$SkavaMenuIcon:#767676;
