.content-menu-fixed {
    position: fixed;
    top: 60px;
}

.content-menu {
    li {
        padding: 8px 0px 8px 15px;
    }


    li > a:hover,
    li > a:focus {
      border-top: 0px;
      border-right: 0px;
      border-radius: 0;
      cursor: pointer;
      border-left: 2px solid $SkavaYellow;
      text-decoration:none;
      padding-left:12px;
    }

    li > a {
        margin-right: 0px;
        cursor: pointer;
        border: 0;
        border-radius: 0;
        color: $SkavaMenuIcon;
        padding-left:14px;
        padding-top:5px;
        padding-bottom: 5px;
    }
    
    li.active > a{
        font-weight: 700;
        color:$SkavaMenuText;
        border-left: 3px solid $SkavaYellow;
        padding-left:11px;
        cursor: pointer;
    }
    

    li > span.badge {
        cursor: pointer;
        background-color: $brand-warning;
    }
}

.content-menu,
.content-menu ul {
    list-style: none;
    padding-start: 0px;
    -webkit-padding-start: 0px;
}

.content-menu > li > ul {
    padding-top: 10px;
    -webkit-padding-start: 20px;
    
    li > a:hover,
    li > a:focus {
      border-left: 2px solid $SkavaOrange;
      padding-left:12px;
    }
    
    li.active > a{
        border-left: 3px solid $SkavaOrange;
        padding-left:11px;
    }
}



.bs-docs-sidebar .nav>.active:focus>a, .bs-docs-sidebar .nav>.active:hover>a, .bs-docs-sidebar .nav>.active>a {
    padding-left: 18px;
    font-weight: 700;
    color: #563d7c;
    background-color: transparent;
    border-left: 2px solid #563d7c;
}



