.datepicker {
    table {
        button {
            border: 0px;
        }

        button.btn-default {
            background-color: $white;
        }

        button.btn-primary {
            background-color: $brand-primary;
        }

        button.btn-today {
            background-color: $blue4;
        }
    }
}
