.wrapper {
    footer {
        -moz-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        padding-right: 15px;
        padding-left: 15px;
        background-color: $gray4;
        border-top: 1px solid $input-border;
        z-index: 3;
    }
}

@media only screen and (min-width: 768px) {
    .wrapper.wrapper__minify {
        footer {
            padding-right: 75px;
        }
    }

    .wrapper {
        footer {
            padding-right: 215px;            
        }
    }
}
