header {
    background-color: $SkavaBlue;
    box-shadow:  0 2px 5px rgba(0, 0, 0, 0.26);
    position: fixed;
    width: 100%;
    z-index: 1040;
    height:60px;

    .navbar-brand {
            padding: 5px 20px 0px 0px;
    }
    
}
