label {
    font-weight: normal;
    color: $gray11;
}

.radio > label,
.checkbox > label {
    color: $gray-dark;
}


.error-messages > div {
    color: $brand-danger;
}

@mixin input-wrap($type) {
    input[type=#{$type}].ng-invalid {
        border: 1px solid $brand-danger;
    }

    input[type=#{$type}].ng-untouched {
        border: 1px solid $input-border;
    }
}

@include input-wrap("text");
@include input-wrap("password");
@include input-wrap("email");

/* Checkbox like switch*/
.switch {
    position: relative;
    display: block;
    height: 20px;
    width: 44px;
    background: $gray11;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:after {
        position: absolute;
        left: -2px;
        top: -3px;
        display: block;
        width: 26px;
        height: 26px;
        border-radius: 100px;
        background: $gray5;
        box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
        content: '';
        transition: all 0.3s ease;
    }

    &:active:after {
        transform: scale(1.15, 0.85);
    }
}

.cbx:checked ~ label { background: $blue4; }

.cbx:checked ~ label:after {
    left: 20px;
    background: $blue3;
}

.cbx:disabled ~ label {
    background-color: $gray2;
    pointer-events: none;
}

.cbx:disabled ~ label:after {
    background-color: $gray4;
}

.hidden {
    display: none;
}

textarea {
     resize: none;
 }
