.login-header {
    background: url('../imgs/imagen_login.jpg') center center no-repeat $white;
    width: 100%;
    height: 324px;
    background-size: cover;
    display: block;

    .logo {
        background: url('../imgs/logo_skava.png') center center no-repeat;
        width: 100%;
        height: 324px;
        background-size: auto;
        display: block;        
    }
}
