message {
    position: fixed;
	top: 10px;
	right: 10px;
	z-index: 1062;
	max-height: 600px;
	max-width: 40%;
    min-width: 40%;
	background-color: rgba(0, 0, 0, 0.9);
    color: $white;
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px;

    .alert {
        padding: 15px 15px 15px 15px;
        margin: 0;
        min-height: 60px;
        font-size: 16px;
        border-radius: 0;
    }

    .confirmation {
        line-height: 1.42857;
    }

    i.confirmation {
        color: $brand-warning;
        font-size: 33px;
    }

    i.success {
        color: $brand-success;
        font-size: 33px;
    }

    i.error {
        color: $brand-danger;
        font-size: 33px;
    }

    i.loading {
        color: $white;
        font-size: 33px;
    }

    button {
        background-color: inherit;
        border: 0;
        padding: 0;

        &:hover {
            color: $white;
        }
    }

    .btn-accept {
        color: $brand-success;
    }

    .btn-cancel {
        color: $brand-danger;
    }
}
