.tab-header {
    border-bottom: 1px solid $input-border;
    background-color:$SkavaMenuBack;
    color:$SkavaMenuText;

    h3 {
        padding: 18px 0px 18px 0px;
        margin: 0px;
    }

    button {
        color: $SkavaMenuText;
        height: 62px;
        padding: 0 18px 0 0px;
        background-color: inherit;
        border: 0px;
        font-size: 18px;
        i {
            padding: 18px 0px 18px 0px;
        }
    }
}

.nav-tabs {
    border: 0px;
}

.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: $SkavaMenuText;
  font-weight: bold;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 4px solid $SkavaYellow;
  border-radius: 0;
  background-color: $SkavaMenuBack;
  cursor: pointer;
}

.nav-tabs > li > a {
    margin-right: 0px;
    cursor: pointer;
    padding: 20px;
    background-color: $SkavaMenuBack;
    border: 0;
    border-radius: 0;
    color: $gray-dark;
    font-weight: bold;
}
