.table > thead > tr {
    background-color: $gray4;
}

.table > thead > tr > th {
    border: 0px;
    i {
        padding-left: 5px;
    }
}

.sort-asc {
    transition: all 0.3s ease-out;
    transform: rotate(-90deg);
}

.sort-desc {
    transition: all 0.3s ease-out;
    transform: rotate(90deg);
}

.popover-content {
    .table > thead > tr {
        background-color: $blue8;
    }
}

.modal-content {
    .table > thead > tr {
        background-color: $blue8;
    }
}

.truncate {
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden; 
    width: 400px;
}
