.UserButton{
    a{
        color: white !important; 
        padding-right: 35px; 
        cursor: pointer;
        text-decoration: none;
    }
    i{
        font-size:27px;
    }
    strong{
        font-size:16px;
        margin-left:5px;
    }
}