.wrapper {
    padding: 60px 0px 60px 0px;
    transition: all 0.3s ease-out;
}

@media only screen and (min-width: 768px) {
    body {
        overflow-y: scroll;
    }

    .wrapper {
        margin-left: 200px;
    }

    .wrapper__minify {
        margin-left: 60px;
    }
}


.vertical_nav, .collapse_menu .collapse_menu--icon {
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

* {
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

.toggle_menu {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    background: none;
    border: 0;
    cursor: pointer;
    color: $white;
}
.toggle_menu span {
    display: block;
    font-size: 25px;
}

.logo-desc {
    display: none;
    color: $white;
    font-weight: bold;
}

.logo-desc img{
    margin-left:-10px;
}
.logo-desc{
    font-size: 20px;
}

.navbar-text{
    margin-top:15x;
    margin-bottom:15x;
}

.vertical_nav {
    position: absolute;
    left: -200px;
    top: 50px;
    bottom: 0px;
    width: 200px;
    background: $SkavaMenuBack;
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.vertical_nav__closed {
    left: -200px !important;
}

.vertical_nav a:hover, .vertical_nav a:link, .vertical_nav a:visited, .vertical_nav a:active {
	text-decoration: none;
	color: $SkavaMenuText;
    //Background: $SkavaMenuHoverBack;
}

@media (max-width: 768px) {
    .vertical_nav__opened {
        left: 0px !important;
        box-shadow: rgba(0, 0, 0, 0.4) -30px 0 30px 30px;
        z-index: 2;
    }
}
.menu {
    position: absolute;
    top: 0px;
    bottom: 60px;
    overflow-y: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu--item {
    position: relative;
    min-height: 60px;
    line-height: 60px;
}

.menu--item__has_sub_menu .menu--link:after {
    position: absolute;
    top: 0;
    right: 15px;
    height: 60px;
    line-height: 65px;
    font-family: "FontAwesome";
    content: "\f0d7";
}

.menu--subitens__opened {
    background: $SkavaMenuBack;
}

.menu--subitens__opened .menu--link {
    color: $SkavaMenuText;
}

.menu--subitens__opened .sub_menu {
    display: block;
}

.menu--link {
    display: block;
    overflow: hidden;
    font-size: 12.5px;
    text-decoration: none;
    color: $SkavaMenuText;
    font-weight: 400;
    white-space: nowrap;
    cursor: pointer;
    //border-left: 3px solid $gray8;

    &.active, &:hover, &:hover &.menu--label {
        color: $SkavaMenuText;
        background: $SkavaMenuHoverBack;
        border-left: 3px solid $SkavaOrange;
    }

}

.menu--icon {
    display: block;
    float: left;
    width: 57px;
    height: 60px;
    line-height: 60px !important;
    font-size: 20px !important;
    padding: 0px 19px 0px 16px;
    color:$SkavaMenuIcon;
}

.menu--label {
    display: block;
    height: 60px;
    line-height: 65px;
    font-weight: 600;
}

.sub_menu {
    display: none;
    overflow: hidden;
    padding-left: 0;
    list-style: none;
    box-shadow:  0 2px 5px rgba(0, 0, 0, 0.26);
}

.sub_menu--link {
    display: block;
    padding-left: 60px;
    padding-right: 16px;
    font-size: 12.5px;
    color: $SkavaMenuText;
    text-decoration: none;
    //border-left: 3px solid $gray10;
    
    &.sub_menu--link:hover {
        color: $SkavaLigthGray;
        background: $SkavaMenuHoverBack;
        color: $SkavaMenuText;
        border-left: 6px solid $SkavaOrange;
    }

}



.sub_menu--link__active {    
    border-left: 3px solid $SkavaOrange;
}

.collapse_menu {
    display: none;
}

@media (min-width: 768px) {
    .vertical_nav {
        left: 0;
    }

    .toggle_menu {
        display: none;
    }

    .logo-desc{
        display: inline;
    }

    .vertical_nav__minify {
        width: 60px;
    }

    .vertical_nav__minify .menu {
        overflow: visible;
    }

    .vertical_nav__minify .menu--label {
        display: none;
        position: absolute;
        top: 0;
        left: 60px;
        width: 150px;
        padding-left: 16px;
        padding-right: 16px;
        background: $SkavaMenuBack;//#e9e9e9;
        font-weight: 500;
    }

    .vertical_nav__minify .menu--item__has_sub_menu .menu--link:after {
        content: "";
    }

    .vertical_nav__minify .menu--subitens__opened .menu--label,
    .vertical_nav__minify .menu--subitens__opened .sub_menu {
        display: block;
        box-shadow:  0 2px 5px rgba(0, 0, 0, 0.26);
    }

    .vertical_nav__minify .menu--link .menu--label{
        font-weight:600;
    }

    .vertical_nav__minify .sub_menu {
        position: absolute;
        top: 60px;
        left: 60px;
        width: 150px;
        background: $SkavaMenuBack;
    }

    .vertical_nav__minify .sub_menu--link {
        padding-left: 16px;
    }

    .vertical_nav__minify .collapse_menu--icon {
        transform: rotate(180deg);
    }

    .collapse_menu {
        position: absolute;
        bottom: 0px;
        display: block;
        width: 100%;
        height: 60px;
        line-height: 60px;
        padding: 0;
        border: 0;
        border-top: 1px solid $gray9;
        background: $SkavaMenuBack;
        color: $SkavaMenuText;
        font-size: 12.5px;
        text-align: left;
        cursor: pointer;
    }

    .collapse_menu:hover {
        color: $SkavaMenuText;
        background: $SkavaMenuHoverBack;
    }

    .collapse_menu .collapse_menu--icon {
        display: block;
        float: left;
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 20px;
        color:$SkavaMenuIcon;
    }

    .collapse_menu .collapse_menu--icon:before {
        content: "\f053";
    }

    .collapse_menu .collapse_menu--label {
        display: block;
        height: 60px;
        line-height: 60px;
    }
}
