@import 'colors';
@import 'variables';
@import 'font-awesome';
@import 'animate';
@import 'bootstrap';
@import 'input';
@import 'login';
@import 'header';
@import 'footer';
@import 'vertical-menu';
@import 'table';
@import 'search-form';
@import 'tabs';
@import 'content-menu';
@import 'mapping/mapping';
@import 'modal/modal';
@import 'modal/modal-user-profile';
@import 'message';
@import 'datepicker';
@import 'bootstrap/variables';
@import 'user-log';
@import "chartist-settings.scss";
@import "chartist.scss";
@import "chartist-custom.scss";
//@import "angular-material.scss";


body{
    margin: 0px;
    font-family: Arial,Helvetica,sans-serif;
}

.unselectable {
    user-select: none;
}



.content {
    padding: 10px 20px 10px 20px;
}

.vertical-bottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.ImgLogo {
  height: 38px;
  width: 80px;
  text-align: center;
  float: none;
}

.navbar-login
{
    width: 250px;
    padding: 5px 10px 5px 10px;
}

.icon-size
{
    font-size: 87px;
}


#bar{
  height: 5px;
}

 .finish a  {
  background-color: $green1 !important;
}

.finish a:hover {
  background-color: $green2 !important;
}

#DatePag{
  text-align: center;
}

#MonthPag{
  text-align: center;
}

.table th, td{
  text-align: center;
  vertical-align: middle !important;
}

.select .list-group li{
  cursor:pointer;
}

.deSelect .list-group li{
  cursor:pointer;
}

.selected-JJ{
  color: $white !important;
  background-color: $blue3 !important;
}

.vertical_nav {
    position: fixed !important;
}



/*Lang Bar*/

.ImgFlag{
  width: 35px;
  height: 24px;
  cursor: pointer;
}

.banderas .col-md-4{
  text-align: center;
}


/* Botones Metro
============================*/

.shortcut-button {
  padding: 0 1rem;
  vertical-align: middle;
  border: 1px $gray2 solid;
  color: $white;
  cursor: pointer;
  display: inline-block;
  outline: none;
  font-size: 3.4rem;
  line-height: 0.8 !important;
  margin: .15625rem 0;
  position: relative;
  width: 9.5rem;
  height: 9.5rem;
  text-align: center;


  border-collapse: collapse;

  text-rendering: auto;

  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;

  background: $blue1 !important;
}


.shortcut-button:hover {
  border:1px solid $gray3;
}

.shortcut-button .title{
  font-size: 1.2rem;
}


/* Mini devices
==========================*/
@media (max-width: 240px) {

  .ImgLogo {
    height: 38px;
    width:207px;
    text-align: left;
    margin-top: 5px;
    float: none;
  }

}

/* Small devices (tablets)
==========================
@media (min-width: 768px) {
    .navbar-header{float: none !important;}

}


/* Medium devices (desktops)
==========================*/



/* Dashboard Indicadores
============================*/


.tile-stats.sparkline {
    padding: 10px;
    text-align: center;
}


.tile-stats {
    position: relative;
    display: block;
    margin-bottom: 12px;
    border: 1px solid $gray2;
    -webkit-border-radius: 5px;
    overflow: hidden;
    padding-bottom: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    background: $white;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.tile-stats:hover .icon i {
    animation-name: tansformAnimation;
    animation-duration: .5s;
    animation-iteration-count: 1;
    color: rgba(58, 58, 58, 0.41);
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-name: tansformAnimation;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: tansformAnimation;
    -moz-animation-duration: .5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
}

.tile-stats .icon {
    color: $gray5;
    position: absolute;
    right: 10px;
    top: 22px;
    z-index: 1;
}

.tile-stats .icon i {
    margin: 0;
    font-size: 60px;
    line-height: 0;
    vertical-align: bottom;
    padding: 0;
}

.tile-stats .count {
    color: $SkavaOrange;
    font-size: 38px;
    font-weight: bold;
    line-height: 1.65857143
}

.tile-stats .count,
.tile-stats h3,
.tile-stats p {
    position: relative;
    margin: 0;
    margin-left: 10px;
    z-index: 5;
    padding: 0;
}

.tile-stats h3 {
    color: $gray1;
}

.tile-stats p {
    margin-top: 5px;
    font-size: 12px;
    color:#333;
}

.tile-stats > .dash-box-footer {
    position: relative;
    text-align: center;
    margin-top: 5px;
    padding: 3px 0;
    color: $white;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.tile-stats > .dash-box-footer:hover {
    color: $white;
    background: rgba(0, 0, 0, 0.15);
}

.tile-stats > .dash-box-footer:hover {
    color: $white;
    background: rgba(0, 0, 0, 0.15);
}





/*Bootsrap Extra
==========================*/

.h1, .h2, .h3, h1, h2, h3 {
  //margin-top: 10px !important;
}


.btn-JJ {
  color: $white !important;
  background-color: $blue2;
  border-color: $blue3;
}

.btn-JJ:hover{
  color: $white !important;
  background-color: $blue3;
  border-color: $blue3 !important;
}

.btn-JJ:focus,
.btn-JJ.focus {
  color: $white  !important;
  background-color: $blue4;
  border-color: $blue5;
}

.btn-JJ:active:hover,
.btn-JJ.active:hover,
.open > .dropdown-toggle.btn-JJ:hover,
.btn-JJ:active:focus,
.btn-JJ.active:focus,
.open > .dropdown-toggle.btn-JJ:focus,
.btn-JJ:active.focus,
.btn-JJ.active.focus,
.open > .dropdown-toggle.btn-JJ.focus {
  color: $white !important;
  background-color: $blue3;
  border-color: $blue6;
}

.errorFormulario
{
	background-color: #e5e1f2;
	border-color: #ff5d5d;
}

.errorFormularioCheck
{
	color: red !important;
}


.errorFormularioRadio
{
	color: red !important;
}