<div vertical-menu class="vertical_nav unselectable vertical_nav__minify">
    <ul class="menu">
        <li class="menu--item">
            <a ng-click="vm.verify('dashboard')" class="menu--link" ui-sref-active="active" title="Home">
                <span class="menu--icon fa fa-tachometer" aria-hidden="true"></span>
                <span class="menu--label">Home</span>
            </a>
        </li>

        <li class="menu--item" ng-if="vm.userHasPermission(['Administrator', 'Supervisor'])">
            <a  class="menu--link"
                title="Characterization"
			    ng-click="vm.verify('mappings')"
			   >
                <span class="menu--icon glyphicon glyphicon-check"></span>
                <span class="menu--label">Characterization</span>
            </a>
        </li>
 
        <li class="menu--item" ng-if="vm.userHasPermission(['Administrator', 'Supervisor'])">
          <a  ng-click="vm.verify('forecast')"
              ng-class="{ active: vm.state.includes('app.forecast')}"
              class="menu--link"
              title="Forecast">
              <span class="menu--icon fa fa-line-chart"></span>
              <span class="menu--label">Forecast</span>
          </a>
        </li>

        <li class="menu--item" ng-if="vm.userHasPermission(['Administrator'])">
          <a  ng-click="vm.verify('account')"
              ng-class="{ active: vm.state.includes('app.account')}"
              class="menu--link"
              title="Account Balance">
              <span class="menu--icon fa fa-money"></span>
              <span class="menu--label">Account Balance</span>
          </a>
        </li>

        <li class="menu--item menu--item__has_sub_menu" ng-if="vm.userHasPermission([ 'Administrator' ])">
            <a  class="menu--link"
                ng-class="{ active: vm.state.includes('app.projects') || vm.state.includes('app.tunnels') }"
                title="Settings">
                <span class="menu--icon fa fa-cog"></span>
                <span class="menu--label">Settings</span>
            </a>
            <ul class="sub_menu">
                <li class="sub_menu--item">
                    <a class="sub_menu--link" ng-click="vm.verify('projects')" ng-class="{ 'sub_menu--link__active': vm.state.includes('app.projects')}">Projects</a>
                </li>

                <li class="sub_menu--item">
                    <a class="sub_menu--link" ng-click="vm.verify('tunnels')" ng-class="{ 'sub_menu--link__active': vm.state.includes('app.tunnels')}">Tunnels</a>
                </li>

                <li class="sub_menu--item">
                    <a class="sub_menu--link" ng-click="vm.verify('faces')" ng-class="{ 'sub_menu--link__active': vm.state.includes('app.faces')}">Faces</a>
                </li>

                <li class="sub_menu--item">
                    <a class="sub_menu--link" ng-click="vm.verify('users')" ng-class="{ 'sub_menu--link__active': vm.state.includes('app.users')}">Users</a>
                </li>

            </ul>
        </li>
    </ul>

    <button class="collapse_menu">
        <i class="collapse_menu--icon fa fa-fw"></i>
        <span class="collapse_menu--label">Minimizar</span>
    </button>
</div>
