<div class="container-fluid">
    <div class="row tab-header">
        <div class="col-xs-12">
            <button class="pull-left" ui-sref="app.tunnels()">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>
            <h3 ng-if="!vm.tunnel.id">Create New</h3>
            <h3 ng-if="vm.tunnel.id">Edit</h3>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12">
            <form name="vm.form">
            <div class="row">
                <div class="col-xs-12">
                    <h3 style="margin: 40px 0px 40px 0px;">Tunnel</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Project</label>
                        <select name="project"
                                type="text"
                                class="form-control"
                                ng-model="vm.tunnel.Project"
                                ng-options="project.Name for project in vm.projects"
                                required>
                        </select>
                        <div ng-messages="vm.form.project.$error" ng-show="vm.form.project.$touched" class="error-messages">
        					<div ng-message="required">Required</div>
        				</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>ESR</label>
                        <select name="esr"
                                type="text"
                                class="form-control"
                                ng-model="vm.tunnel.Esr"
                                ng-options="esr.Description for esr in vm.esrs"
                                required>
                        </select>
                        <div ng-messages="vm.form.esr.$error" ng-show="vm.form.esr.$touched" class="error-messages">
        					<div ng-message="required">Required</div>
        				</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Name</label>
                        <input  name="name"
                                type="text"
                                class="form-control"
                                ng-model="vm.tunnel.Name"
                                required>
                        </input>
                        <div ng-messages="vm.form.name.$error" ng-show="vm.form.name.$touched" class="error-messages">
        					<div ng-message="required">Required</div>
        				</div>
                    </div>
                </div>

                <div class="col-xs-3">
                    <div class="form-group">
                        <label>Span (or height in m)</label>
                        <input  name="span"
                                type="number"
                                min="0"
                                step="0.01"
                                class="form-control"
                                ng-model="vm.tunnel.Span"
                                required>
                        </input>
                        <div ng-messages="vm.form.span.$error" ng-show="vm.form.span.$touched" class="error-messages">
        					<div ng-message="required">Required</div>
        				</div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label>Perimeter (in m)</label>
                        <input  name="perimeter"
                                type="number"
                                min="0"
                                step="0.01"
                                class="form-control"
                                ng-model="vm.tunnel.Perimeter"
                                required>
                        </input>
                        <div ng-messages="vm.form.perimeter.$error" ng-show="vm.form.perimeter.$touched" class="error-messages">
                            <div ng-message="required">Required</div>
                        </div>
                    </div>
                </div>
            </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>PERFILES</label>
                            <select name="profile"
                                    type="text"
                                    class="form-control"
                                    ng-model="vm.tunnel.TunnelProfile"
                                    ng-options="profile.Description for profile in vm.profiles"
                                    required>
                            </select>
                            <div ng-messages="vm.form.profile.$error" ng-show="vm.form.profile.$touched" class="error-messages">
                                <div ng-message="required">Required</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-hide="vm.image.expanded">
                    <div class="col-xs-6 col-md-3">
                        <a class="thumbnail">
                            <img ng-src="{{ vm.tunnel.TunnelProfile.RemoteUri }}" alt="" style="height: 200px; width: 100%; display: block;"/>
                        </a>

                        <div class="caption">
                            <div class="pull-right">
                                <button type="button" title="Expand image" tooltip class="btn" ng-click="vm.expand(vm.tunnel.TunnelProfile.RemoteUri)">
                                    <i class="fa fa-expand"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
        </div>
    </div>

</div>



<footer ng-if="!vm.mapping.Finished">
    <div class="row content">
        <div class="col-xs-12">
            <div class="pull-right">
                <button class="btn btn-default" ui-sref="app.tunnels()" tooltip title="Cancel"><span class="glyphicon glyphicon-floppy-remove"></span></button>
                <button class="btn btn-primary" ng-click="vm.save()" ng-disabled="!vm.form.$valid" tooltip title="Save"><span class="glyphicon glyphicon-floppy-disk"></span></button>
            </div>
        </div>
    </div>
</footer>

<div class="row" ng-show="vm.image.expanded">
    <div class="col-xs-12">
        <img ng-src="{{ vm.image.url }}" style="width: 100%;"/>

        <div class="pull-right" style="padding-top: 20px;">
            <button type="button" class="btn" ng-click="vm.close()"><i class="fa fa-compress"></i>Close image</button>
        </div>
    </div>
</div>
