<div class="container-fluid">
    <div class="row tab-header">
        <div class="col-xs-12">
            <button class="pull-left" ui-sref="app.tunnels()">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>
            <h3>Rock Type Offer - Project {{ vm.tunnel.Project.Code }} -  {{ vm.tunnel.Project.Name }}</h3>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12">
            
            <div class="row">
                <div class="col-xs-6">
                    <h3 id="project" style="margin: 40px 0px 40px 0px;">Tunnel: {{ vm.tunnel.Name }}</h3>
                    
                    <hr>
                    <h4 class="form-subheader">Upload new Excel file</h4> 
                </div>

                <div class="col-xs-4">
                        <a href="{{ vm.templateUrl }}" class="btn btn-primary btn-block btn-xs" target="_blank">Download Excel file template</a>
                    </div>
            </div>

            <div class="content row">
                <div class="col-xs-4">
                    <input class="bottom-marg-15" accept=".xlsx" type="file" name="file" file />
                </div>

                <div class="col-xs-2">
                    <a class="btn btn-success btn-block btn-md" ng-click="vm.uploadOfferRockTypes()">Upload File</a>
                </div>
            </div>

            <hr>
                <div class="content row" ng-if="vm.OfferRockTypes.length == 0">
                    <div class="col-xs-12">
                        <h4>There's no rock types offers.</h4>
                    </div>
                </div>

                <div class="content row" ng-if="vm.tunnel.OfferRockTypes.length > 0">
                    <div class="col-xs-12">
                    <h4 class="form-subheader">Last uploaded on {{vm.tunnel.OfferRockTypes[0].CreatedAt | date: 'dd-MM-yyyy HH:mm:ss'}} hrs. ({{vm.tunnel.OfferRockTypes.length}} records).</h4> 
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th data-title="Initial Progress" data-column="i-progress">Initial Progress</th>
                                        <th data-title="Final Progress" data-column="f-progress">Final Progress</th>
                                        <th data-title="Rock Type" data-column="rock-type">Rock Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="offerRockType in vm.tunnel.OfferRockTypes | orderBy:'InitialProgress'">
                                        <td ng-bind="::offerRockType.InitialProgress | number : 1"></td>
                                        <td ng-bind="::offerRockType.FinalProgress | number : 1"></td>
                                        <td ng-bind="::offerRockType.RockType"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
           
        </div>
    </div>

</div>