<div class="modal-dialog" role="document">
    <form name="vm.form">
        <div class="modal-content">
            <div class="modal-body">
                <label>Between {{vm.input.start}} - {{vm.input.end}}</label>
                <input  class="form-control"
                        name="customValue"
                        type="number"
                        required
                        min="{{vm.input.start}}"
                        max=" {{vm.input.end}}"
                        ng-model="vm.input.value">
                </input>
                <div ng-messages="vm.form.customValue.$error" class="error-messages">
                    <div ng-message="required">Required</div>
                    <div ng-message="min">The value cannot be least than {{vm.input.start}}</div>
                    <div ng-message="max">The value cannot be greater than {{vm.input.end}}</div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="vm.save()" ng-disabled="!vm.form.$valid">Save</button>
            </div>
        </div>
    </form>
</div>
