<div class="row">
    <div class="col-xs-3" style="padding-top: 40px;">
        <ul content-menu class="content-menu">
            <li role="presentation" class="active">
                <a data-target="#q-value">Q-Value (Barton, 2013)</a>
                  <span class="badge" ng-click="vm.showQValueDetail()">Min {{vm.QValue.MinValue | number}}</span>
                <span class="badge" ng-click="vm.showQValueDetail()">Max {{vm.QValue.MaxValue | number}}</span>
                <span class="badge" ng-click="vm.showQValueDetail()">Avg {{vm.QValue.AvgValue | number}}</span>
                <ul>
                    <li role="presentation"><a data-target="#rqd">RQD</a></li>
                    <li role="presentation"><a data-target="#jn">JN</a></li>
                    <li role="presentation"><a data-target="#jr">JR</a></li>
                    <li role="presentation"><a data-target="#ja">JA</a></li>
                    <li role="presentation"><a data-target="#jw">JW</a></li>
                    <li role="presentation"><a data-target="#srf">SRF</a></li>
                </ul>
            </li>
            <li role="presentation">
                <a data-target="#rmr">RMR (Bienawski, 1989)</a>
                <span  class="badge" ng-click="vm.showRMRValueDetail()">{{vm.RMRValue.value | number}}</span>
                <ul>
                    <li role="presentation"><a data-target="#strength-of-rock">Strength of Rock</a></li>
                    <li role="presentation"><a data-target="#rmr-rqd">RQD</a></li>
                    <li role="presentation"><a data-target="#spacing-of-descontinuities">Spacing of Descontinuities</a></li>
                    <li role="presentation"><a data-target="#condition-of-descontinuities">Condition of Discontinuities</a></li>
                    <li role="presentation"><a data-target="#groundwater">Groundwater</a></li>
                    <li role="presentation"><a data-target="#orientation-of-descontinuities">Orientation of Descontinuities</a></li>
                </ul>
            </li>
            <li role="presentation">
                <a data-target="#gsi">GSI (Hoek and Marinos, 2000)</a>
            </li>
        </ul>
    </div>

    <div class="col-xs-9">
        <div class="row">
            <div class="col-xs-12">
                <h3 id="q-value" style="margin: 40px 0px 40px 0px;">Q-Value (Barto, 2013)</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h3 class="form-subheader" id="rqd">RQD <a popover data-templateUrl="mapping/detail/geotechnical-evaluation/q-value-info.tpl.html"><i class="fa fa-question-circle"><i></a></h3>
            </div>
        </div>

        <div class="row end-subform">
            <div class="col-xs-6">
                <div class="form-group">
                    <select name="qvalue-rqd"
                            class="form-control"
							ng-class="{errorFormulario: vm.originals.qvalues.rqd != vm.RQD.ValueSelected}"
                            ng-model="vm.RQD.ValueSelected"
                            ng-options="value for value in vm.RQD.Values"							
                            ng-change="vm.calculateQValue('rqd',vm.RQD.ValueSelected,0)"
                            ng-disabled="vm.mapping.Finished">
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h3 class="form-subheader" id="jn">JN</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-xs-2 control-label" style="padding-left: 0px;">Intersection</label>
                    <br>
                    <div class="radio" ng-repeat="input in vm.characterization.QJnTypes | orderBy : 'code' ">
                        <label ng-class="{errorFormularioRadio: vm.originals.qvalues.jnTypeSelected != vm.JN.TypeSelected}">
                            <input name="jn-inputType" type="radio" ng-model="vm.JN.TypeSelected" ng-value="input.code"  ng-change="vm.calculateQValue('jn-typeselected', vm.JN.TypeSelected, 0)" ng-disabled="vm.mapping.Finished" />
                            {{ input.description }}
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row end-subform">
            <div class="col-xs-6">
                <div class="form-group">
                    <div class="radio" ng-repeat="input in vm.JN.QValueInputGroups[0].QValueInputs | orderBy : 'CodeIndex' ">
                        <label ng-if="input.EndValue" ng-class="{errorFormularioRadio: vm.originals.qvalues.jnSelected != vm.JN.InputSelected.CodeIndex}">
                            <input name="jn-input" type="radio" ng-model="vm.JN.InputSelected" ng-value="input" ng-click="vm.showCustomValueForm(input)" ng-change="vm.calculateQValue('jn-input', vm.JN.InputSelected.CodeIndex, 0)" ng-disabled="vm.mapping.Finished"/>
                            {{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ' - ' + input.EndValue + ')  ' + input.Description }}
                        </label>
                        <label ng-if="!input.EndValue" ng-class="{errorFormularioRadio: vm.originals.qvalues.jnSelected != vm.JN.InputSelected.CodeIndex}">
                            <input name="jn-input" type="radio" ng-model="vm.JN.InputSelected" ng-value="input" ng-change="vm.calculateQValue('jn-input', vm.JN.InputSelected.CodeIndex, 0)" ng-disabled="vm.mapping.Finished"/>
                            {{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ')  ' + input.Description }}
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h3 class="form-subheader" id="jr">JR</h3>
            </div>
        </div>
                 
            <ul ng-init="vm.tab1=1">
                <li ng-repeat="item in vm.mapping.QValues[0].QValueDiscontinuities | orderBy : 'Discontinuity'">
                  <a href ng-click="vm.tab1 = item.id">{{item.Discontinuity}}</a>
                </li>
            </ul> 
            <div ng-repeat="item in vm.mapping.QValues[0].QValueDiscontinuities | orderBy : 'Discontinuity'" ng-show="vm.tab1 === item.id">
                <div class="row end-subform">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <div class="radio" ng-repeat="group in item.QValueInputsGroupsJR | orderBy : 'CodeIndex'">
                                <label>
                                    <input  type="radio" ng-model="item.JrGroupSelected" ng-value="group" ng-disabled="vm.mapping.Finished"/> {{ group.CodeIndex.trim(' ') + '.  ' + group.Description }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <div class="radio" ng-repeat="input in item.JrGroupSelected.QValueInputs | orderBy : 'CodeIndex' ">
                                <label ng-if="!input.EndValue">
                                    <input  type="radio" ng-model="item.JrSelection" ng-value="input.id"  ng-change="vm.calculateQValue()" ng-disabled="vm.mapping.Finished"/>
                                    {{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ')  ' + input.Description }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
               

        <div class="row">
            <div class="col-xs-12">
                <h3 class="form-subheader" id="ja">JA</h3>
            </div>
        </div>
  
            <ul ng-init="vm.tab2=1">
                <li ng-repeat="item2 in vm.mapping.QValues[0].QValueDiscontinuities | orderBy : 'Discontinuity'">
                  <a href ng-click="vm.tab2 = item2.id">{{item2.Discontinuity}}</a>
                </li>
            </ul> 
            <div ng-repeat="item2 in vm.mapping.QValues[0].QValueDiscontinuities | orderBy : 'Discontinuity'" ng-show="vm.tab2 === item2.id">
                <div class="row end-subform">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <div class="radio" ng-repeat="group2 in item2.QValueInputsGroupsJA | orderBy : 'CodeIndex'">
                                <label>
                                    <input  type="radio" ng-model="item2.JaGroupSelected" ng-value="group2" ng-disabled="vm.mapping.Finished"/> {{ group2.CodeIndex.trim(' ') + '.  ' + group2.Description }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <div class="radio" ng-repeat="input2 in item2.JaGroupSelected.QValueInputs | orderBy : 'CodeIndex' ">
                                <label ng-if="!input2.EndValue">
                                    <input  type="radio" ng-model="item2.JaSelection" ng-value="input2.id"  ng-change="vm.calculateQValue()" ng-disabled="vm.mapping.Finished"/>
                                    {{ input2.CodeIndex.trim(' ') + ' (' + input2.StartValue + ')  ' + input2.Description }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="row">
            <div class="col-xs-12">
                <h3 class="form-subheader" id="jw">JW</h3>
            </div>
        </div>

        <div class="row end-subform">
            <div class="col-xs-6">
                <div class="form-group">
                    <div class="radio" ng-repeat="input in vm.JW.QValueInputGroups[0].QValueInputs | orderBy : 'CodeIndex'">
                        <label ng-if="input.EndValue" ng-class="{errorFormularioRadio: vm.originals.qvalues.jw != vm.JW.InputSelected.CodeIndex}">
                            <input name="jw-input" type="radio" ng-model="vm.JW.InputSelected" ng-value="input" ng-click="vm.showCustomValueForm(input)" ng-change="vm.calculateQValue('jw',vm.JW.InputSelected.CodeIndex,0)" ng-disabled="vm.mapping.Finished"/>
                            {{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ' - ' + input.EndValue + ')  ' + input.Description }}
                        </label>
                        <label ng-if="!input.EndValue" ng-class="{errorFormularioRadio: vm.originals.qvalues.jw != vm.JW.InputSelected.CodeIndex}">
                            <input name="jw-input" type="radio" ng-model="vm.JW.InputSelected" ng-value="input" ng-change="vm.calculateQValue('jw',vm.JW.InputSelected.CodeIndex,0)" ng-disabled="vm.mapping.Finished"/>
                            {{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ')  ' + input.Description }}
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h3 class="form-subheader" id="srf">SRF</h3>
            </div>
        </div>

        <div class="row end-form">
            <div class="col-xs-6">
                <div class="form-group">
                    <div class="radio" ng-repeat="group in vm.SRF.QValueInputGroups | orderBy : 'CodeIndex'">
                        <label ng-class="{errorFormularioRadio: vm.originals.qvalues.srf != vm.SRF.InputSelected.CodeIndex}">
                            <input name="srf-group" type="radio" ng-model="vm.SRF.GroupSelected" ng-value="group" ng-disabled="vm.mapping.Finished"/> {{ group.CodeIndex.trim(' ') + '.  ' + group.Description }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <div class="radio" ng-repeat="input in vm.SRF.GroupSelected.QValueInputs | orderBy : 'CodeIndex'">
                        <label ng-if="input.EndValue">
                            <input name="srf-input" type="radio" ng-model="vm.SRF.InputSelected" ng-value="input" ng-click="vm.showCustomValueForm(input)" ng-change="vm.calculateQValue('srf',vm.SRF.InputSelected.CodeIndex,0)" ng-disabled="vm.mapping.Finished"/>
                            {{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ' - ' + input.EndValue + ')  ' + input.Description }}
                        </label>
                        <label ng-if="!input.EndValue">
                            <input name="srf-input" type="radio" ng-model="vm.SRF.InputSelected" ng-value="input" ng-change="vm.calculateQValue('srf',vm.SRF.InputSelected.CodeIndex,0)" ng-disabled="vm.mapping.Finished"/>
                            {{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ')  ' + input.Description }}
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h3 id="rmr" style="margin: 40px 0px 40px 0px;">RMR (Bienawski, 1989)</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h3 class="form-subheader" id="strength-of-rock">Strength or Rock</h3>
            </div>
        </div>

        <div class="row end-subform">
            <div class="col-xs-6">
                <div class="form-group">
                    <div class="radio" ng-repeat="group in vm.Strength.RmrInputGroups | orderBy : 'CodeIndex'">
                        <label ng-class="{errorFormularioRadio: vm.originals.rmr.strength != vm.Strength.InputSelected.CodeIndex}">
                            <input name="strength-group" type="radio" ng-model="vm.Strength.GroupSelected" ng-value="group" ng-disabled="vm.mapping.Finished"/> {{ group.CodeIndex.trim(' ') + '.  ' + group.Description }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <div class="radio" ng-repeat="input in vm.Strength.GroupSelected.RmrInputs | orderBy : 'CodeIndex' ">
                        <label ng-if="input.EndValue">
                            <input name="strength-input" type="radio" ng-model="vm.Strength.InputSelected" ng-value="input" ng-click="vm.showCustomValueForm(input)" ng-change="vm.calculateRMRValue('strength',vm.Strength.InputSelected.CodeIndex,0)" ng-disabled="vm.mapping.Finished"/>
                            {{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ' - ' + input.EndValue + ')  ' + input.Description }}
                        </label>
                        <label ng-if="!input.EndValue">
                            <input name="strength-input" type="radio" ng-model="vm.Strength.InputSelected" ng-value="input" ng-change="vm.calculateRMRValue('strength',vm.Strength.InputSelected.CodeIndex,0)" ng-disabled="vm.mapping.Finished"/>
                            {{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ')  ' + input.Description }}
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h3 class="form-subheader" id="rmr-rqd">RQD</h3>
            </div>
        </div>

        <div class="row end-subform">
            <div class="col-xs-6">
                <div class="form-group">
                    <div class="radio" ng-repeat="input in vm.RmrRQD.RmrInputGroups[0].RmrInputs | orderBy : 'CodeIndex' ">
                        <label ng-if="input.EndValue" ng-class="{errorFormularioRadio: vm.originals.rmr.rqd != vm.RmrRQD.InputSelected.CodeIndex}">
                            <input name="rmr-rqd-input" type="radio" ng-model="vm.RmrRQD.InputSelected" ng-value="input" ng-click="vm.showCustomValueForm(input)" ng-change="vm.calculateRMRValue('rqd',vm.RmrRQD.InputSelected.CodeIndex,0)" ng-disabled="vm.mapping.Finished"/>
                            {{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ' - ' + input.EndValue + ')  ' + input.Description }}
                        </label>
                        <label ng-if="!input.EndValue" ng-class="{errorFormularioRadio: vm.originals.rmr.rqd != vm.RmrRQD.InputSelected.CodeIndex}">
                            <input name="rmr-rqd-input" type="radio" ng-model="vm.RmrRQD.InputSelected" ng-value="input" ng-change="vm.calculateRMRValue('rqd',vm.RmrRQD.InputSelected.CodeIndex,0)" ng-disabled="vm.mapping.Finished"/>
                            {{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ')  ' + input.Description }}
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h3 class="form-subheader" id="spacing-of-descontinuities">Spacing of Descontinuities</h3>
            </div>
        </div>

        <div class="row end-subform">
            <div class="col-xs-6">
                <div class="form-group">
                    <div class="radio" ng-repeat="input in vm.Spacing.RmrInputGroups[0].RmrInputs | orderBy : 'CodeIndex' ">
                        <label ng-if="input.EndValue" ng-class="{errorFormularioRadio: vm.originals.rmr.spacing != vm.Spacing.InputSelected.CodeIndex}">
                            <input name="spacing-input" type="radio" ng-model="vm.Spacing.InputSelected" ng-value="input" ng-click="vm.showCustomValueForm(input)" ng-change="vm.calculateRMRValue('spacing',vm.Spacing.InputSelected.CodeIndex, 0)" ng-disabled="vm.mapping.Finished"/>
                            {{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ' - ' + input.EndValue + ')  ' + input.Description }}
                        </label>
                        <label ng-if="!input.EndValue" ng-class="{errorFormularioRadio: vm.originals.rmr.spacing != vm.Spacing.InputSelected.CodeIndex}">
                            <input name="spacing-input" type="radio" ng-model="vm.Spacing.InputSelected" ng-value="input" ng-change="vm.calculateRMRValue('spacing',vm.Spacing.InputSelected.CodeIndex, 0)" ng-disabled="vm.mapping.Finished"/>
                            {{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ')  ' + input.Description }}
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h3 class="form-subheader" id="condition-of-descontinuities">Condition of Discontinuities  
				</h3>
            </div>
        </div>
				
		<ul ng-init="vm.tabrmr=1">
			<li><a href ng-click="vm.mapping.Rmrs[0].conditionEnabled = true; vm.calculateRMRValue('persistence',vm.Persistence.InputSelected.CodeIndex,0)">Condition of Discontinuities</a></li>
			<li><a href ng-click="vm.mapping.Rmrs[0].conditionEnabled = false; vm.calculateRMRValue('guidelines',vm.ConditionDiscontinuities.InputSelected.CodeIndex,0)">Guidelines for Classification</a></li>
		</ul> 

		<div ng-show="vm.mapping.Rmrs[0].conditionEnabled == true">
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<label>Persistence</label>

						<div class="radio" ng-repeat="input in vm.Persistence.RmrInputGroups[0].RmrInputs | orderBy : 'CodeIndex' ">
							<label ng-if="input.EndValue" ng-class="{errorFormularioRadio: vm.originals.rmr.persistence != vm.Persistence.InputSelected.CodeIndex}">
								<input name="persistence-input" type="radio" ng-model="vm.Persistence.InputSelected" ng-value="input" ng-click="vm.showCustomValueForm(input)" ng-change="vm.calculateRMRValue('persistence',vm.Persistence.InputSelected.CodeIndex,0)" ng-disabled="vm.mapping.Finished"/>
								{{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ' - ' + input.EndValue + ')  ' + input.Description }}
							</label>
							<label ng-if="!input.EndValue" ng-class="{errorFormularioRadio: vm.originals.rmr.persistence != vm.Persistence.InputSelected.CodeIndex}">
								<input name="persistence-input" type="radio" ng-model="vm.Persistence.InputSelected" ng-value="input" ng-change="vm.calculateRMRValue('persistence',vm.Persistence.InputSelected.CodeIndex,0)" ng-disabled="vm.mapping.Finished"/>
								{{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ')  ' + input.Description }}
							</label>
						</div>
					</div>
				</div>

				<div class="col-xs-6">
					<div class="form-group">
						<label>Aperture</label>

						<div class="radio" ng-repeat="input in vm.Opening.RmrInputGroups[0].RmrInputs | orderBy : 'CodeIndex' ">
							<label ng-if="input.EndValue" ng-class="{errorFormularioRadio: vm.originals.rmr.aperture != vm.Opening.InputSelected.CodeIndex}">
								<input name="opening-input" type="radio" ng-model="vm.Opening.InputSelected" ng-value="input" ng-click="vm.showCustomValueForm(input)" ng-change="vm.calculateRMRValue('aperture',vm.Opening.InputSelected.CodeIndex,0)" ng-disabled="vm.mapping.Finished"/>
								{{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ' - ' + input.EndValue + ')  ' + input.Description }}
							</label>
							<label ng-if="!input.EndValue" ng-class="{errorFormularioRadio: vm.originals.rmr.aperture != vm.Opening.InputSelected.CodeIndex}">
								<input name="opening-input" type="radio" ng-model="vm.Opening.InputSelected" ng-value="input" ng-change="vm.calculateRMRValue('aperture',vm.Opening.InputSelected.CodeIndex,0)" ng-disabled="vm.mapping.Finished"/>
								{{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ')  ' + input.Description }}
							</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<label>Roughness</label>

						<div class="radio" ng-repeat="input in vm.Roughness.RmrInputGroups[0].RmrInputs | orderBy : 'CodeIndex' ">
							<label ng-if="input.EndValue" ng-class="{errorFormularioRadio: vm.originals.rmr.roughness != vm.Roughness.InputSelected.CodeIndex}">
								<input name="roughness-input" type="radio" ng-model="vm.Roughness.InputSelected" ng-value="input" ng-click="vm.showCustomValueForm(input)" ng-change="vm.calculateRMRValue('roughness', vm.Roughness.InputSelected.CodeIndex,0)" ng-disabled="vm.mapping.Finished"/>
								{{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ' - ' + input.EndValue + ')  ' + input.Description }}
							</label>
							<label ng-if="!input.EndValue" ng-class="{errorFormularioRadio: vm.originals.rmr.roughness != vm.Roughness.InputSelected.CodeIndex}">
								<input name="roughness-input" type="radio" ng-model="vm.Roughness.InputSelected" ng-value="input" ng-change="vm.calculateRMRValue('roughness', vm.Roughness.InputSelected.CodeIndex,0)" ng-disabled="vm.mapping.Finished"/>
								{{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ')  ' + input.Description }}
							</label>
						</div>
					</div>
				</div>

				<div class="col-xs-6">
					<div class="form-group">
						<label>Infilling</label>

						<div class="radio" ng-repeat="input in vm.Infilling.RmrInputGroups[0].RmrInputs | orderBy : 'CodeIndex' ">
							<label ng-if="input.EndValue" ng-class="{errorFormularioRadio: vm.originals.rmr.infilling != vm.Infilling.InputSelected.CodeIndex}">
								<input name="infilling-input" type="radio" ng-model="vm.Infilling.InputSelected" ng-value="input" ng-click="vm.showCustomValueForm(input)" ng-change="vm.calculateRMRValue('infilling',vm.Infilling.InputSelected.CodeIndex,0)" ng-disabled="vm.mapping.Finished"/>
								{{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ' - ' + input.EndValue + ')  ' + input.Description }}
							</label>
							<label ng-if="!input.EndValue" ng-class="{errorFormularioRadio: vm.originals.rmr.infilling != vm.Infilling.InputSelected.CodeIndex}">
								<input name="infilling-input" type="radio" ng-model="vm.Infilling.InputSelected" ng-value="input" ng-change="vm.calculateRMRValue('infilling',vm.Infilling.InputSelected.CodeIndex,0)" ng-disabled="vm.mapping.Finished"/>
								{{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ')  ' + input.Description }}
							</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row end-subform">
				<div class="col-xs-6">
					<div class="form-group">
						<label>Weathering</label>

						<div class="radio" ng-repeat="input in vm.Weathering.RmrInputGroups[0].RmrInputs | orderBy : 'CodeIndex' ">
							<label ng-if="input.EndValue" ng-class="{errorFormularioRadio: vm.originals.rmr.weathering != vm.Weathering.InputSelected.CodeIndex}">
								<input name="weathering-input" type="radio" ng-model="vm.Weathering.InputSelected" ng-value="input" ng-click="vm.showCustomValueForm(input)" ng-change="vm.calculateRMRValue('weathering',vm.Weathering.InputSelected.CodeIndex,0)" ng-disabled="vm.mapping.Finished"/>
								{{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ' - ' + input.EndValue + ')  ' + input.Description }}
							</label>
							<label ng-if="!input.EndValue" ng-class="{errorFormularioRadio: vm.originals.rmr.weathering != vm.Weathering.InputSelected.CodeIndex}">
								<input name="weathering-input" type="radio" ng-model="vm.Weathering.InputSelected" ng-value="input" ng-change="vm.calculateRMRValue('weathering',vm.Weathering.InputSelected.CodeIndex,0)" ng-disabled="vm.mapping.Finished"/>
								{{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ')  ' + input.Description }}
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div ng-show="vm.mapping.Rmrs[0].conditionEnabled == false">
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<label>Guidelines for Classification</label>

						<div class="radio" ng-repeat="input in vm.ConditionDiscontinuities.RmrInputGroups[0].RmrInputs | orderBy : 'CodeIndex' ">
							<label ng-if="input.EndValue" ng-class="{errorFormularioRadio: vm.originals.rmr.guidelines != vm.ConditionDiscontinuities.InputSelected.CodeIndex}">
								<input name="condition-input" type="radio" ng-model="vm.ConditionDiscontinuities.InputSelected" ng-value="input" ng-click="vm.showCustomValueForm(input)" ng-change="vm.calculateRMRValue('guidelines',vm.ConditionDiscontinuities.InputSelected.CodeIndex,0)" ng-disabled="vm.mapping.Finished"/>
								{{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ' - ' + input.EndValue + ')  ' + input.Description }}
							</label>
							<label ng-if="!input.EndValue" ng-class="{errorFormularioRadio: vm.originals.rmr.guidelines != vm.ConditionDiscontinuities.InputSelected.CodeIndex}">
								<input name="condition-input" type="radio" ng-model="vm.ConditionDiscontinuities.InputSelected" ng-value="input" ng-change="vm.calculateRMRValue('guidelines',vm.ConditionDiscontinuities.InputSelected.CodeIndex,0)" ng-disabled="vm.mapping.Finished"/>
								{{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ')  ' + input.Description }}
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
            <div class="col-xs-12">
                <h3 class="form-subheader" id="groundwater">Groundwater</h3>
            </div>
        </div>

        <div class="row end-subform">
            <div class="col-xs-6">
                <div class="form-group">
                    <div class="radio" ng-repeat="group in vm.Groundwater.RmrInputGroups | orderBy : 'CodeIndex'">
                        <label ng-class="{errorFormularioRadio: vm.originals.rmr.groundwater != vm.Groundwater.InputSelected.CodeIndex}">
                            <input name="groundwater-group" type="radio" ng-model="vm.Groundwater.GroupSelected" ng-value="group" ng-disabled="vm.mapping.Finished"/> {{ group.CodeIndex.trim(' ') + '.  ' + group.Description }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <div class="radio" ng-repeat="input in vm.Groundwater.GroupSelected.RmrInputs | orderBy : 'CodeIndex' ">
                        <label ng-if="input.EndValue">
                            <input name="groundwater-input" type="radio" ng-model="vm.Groundwater.InputSelected" ng-value="input" ng-click="vm.showCustomValueForm(input)" ng-change="vm.calculateRMRValue('groundwater',vm.Groundwater.InputSelected.CodeIndex,0)" ng-disabled="vm.mapping.Finished"/>
                            {{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ' - ' + input.EndValue + ')  ' + input.Description }}
                        </label>
                        <label ng-if="!input.EndValue">
                            <input name="groundwater-input" type="radio" ng-model="vm.Groundwater.InputSelected" ng-value="input" ng-change="vm.calculateRMRValue('groundwater',vm.Groundwater.InputSelected.CodeIndex,0)" ng-disabled="vm.mapping.Finished"/>
                            {{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ')  ' + input.Description }}
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h3 class="form-subheader" id="orientation-of-descontinuities">Orientation Of Discontinuities <a popover data-templateUrl="mapping/detail/geotechnical-evaluation/rmr-orientation-discontinuities-info.tpl.html"><i class="fa fa-question-circle"><i></a></h3>
            </div>
        </div>

        <div class="row end-form">
            <div class="col-xs-6">
                <div class="form-group">
                    <div class="radio" ng-repeat="group in vm.OrientationDiscontinuities.RmrInputGroups | orderBy : 'CodeIndex'">
                        <label ng-class="{errorFormularioRadio: vm.originals.rmr.orientation != vm.OrientationDiscontinuities.InputSelected.CodeIndex}">
                            <input name="orientation-group" type="radio" ng-model="vm.OrientationDiscontinuities.GroupSelected" ng-value="group" ng-disabled="vm.mapping.Finished"/> {{ group.CodeIndex.trim(' ') + '.  ' + group.Description }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <div class="radio" ng-repeat="input in vm.OrientationDiscontinuities.GroupSelected.RmrInputs | orderBy : 'CodeIndex' ">
                        <label ng-if="input.EndValue">
                            <input name="orientation-input" type="radio" ng-model="vm.OrientationDiscontinuities.InputSelected" ng-value="input" ng-click="vm.showCustomValueForm(input)" ng-change="vm.calculateRMRValue('orientation',vm.OrientationDiscontinuities.InputSelected.CodeIndex,0)" ng-disabled="vm.mapping.Finished"/>
                            {{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ' - ' + input.EndValue + ')  ' + input.Description }}
                        </label>
                        <label ng-if="!input.EndValue">
                            <input name="orientation-input" type="radio" ng-model="vm.OrientationDiscontinuities.InputSelected" ng-value="input" ng-change="vm.calculateRMRValue('orientation',vm.OrientationDiscontinuities.InputSelected.CodeIndex,0)" ng-disabled="vm.mapping.Finished"/>
                            {{ input.CodeIndex.trim(' ') + ' (' + input.StartValue + ')  ' + input.Description }}
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h3 id="gsi" style="margin: 40px 0px 40px 0px;">GSI (Hoek and Marinos, 2000)</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <img ng-src="{{ vm.GSI.RemoteUri }}" style="width: 100%;"><img>
        </div>
    </div>
</div>
