
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th colspan="2" class="text-center">Q Value = {{vm.QValue.value | number }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Degree Of Jointing</td>
                                <td>{{vm.QValue.DegreeOfJointing | number }}</td>
                            </tr>
                            <tr>
                                <td>Joint Frictions</td>
                                <td>{{vm.QValue.JointFrictions | number }}</td>
                            </tr>
                            <tr>
                                <td>Active Stress</td>
                                <td>{{vm.QValue.ActiveStress | number }}</td>
                            </tr>
                            <tr>
                                <td>Rock Quality</td>
                                <td>{{vm.QValue.quality.Name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
