<div class="row">
    <div class="col-xs-12">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th colspan="3">RQD Rock Quality Designation</th>
                    <th class="text-center">RQD</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>A</td>
                    <td>Very Poor</td>
                    <td>(>27 joints per m3)</td>
                    <td>0 - 25</td>
                </tr>
                <tr>
                    <td>B</td>
                    <td>Poor</td>
                    <td>(20-27 joints per m3)</td>
                    <td>25 - 50</td>
                </tr>
                <tr>
                    <td>C</td>
                    <td>Fair</td>
                    <td>(13-19 joints per m3)</td>
                    <td>50 - 75</td>
                </tr>
                <tr>
                    <td>D</td>
                    <td>Good</td>
                    <td>(8-12 joints per m3)</td>
                    <td>75 - 90</td>
                </tr>
                <tr>
                    <td>E</td>
                    <td>Excellent</td>
                    <td>(0-7 joints per m3)</td>
                    <td>90 - 100</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p class="text-warning">Note: Where RQD is reported or measured as  &lt; 10 (including 0) the value 10 is used to evaluate the Q value</p>
    </div>
</div>
