<div class="row">
    <div class="col-xs-12">
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th colspan="2" class="text-center">Strike perpendicular to tunnel axis</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Drive with dip - Dip 45 - 90&deg;</td>
                    <td>Drive with dip - Dip 20 - 45&deg;</td>
                </tr>
                <tr>
                    <td>Very favourable</td>
                    <td>Favourable</td>
                </tr>
                <tr>
                    <td>Drive against dip - Dip 45 - 90&deg;</td>
                    <td>Drive against dip - Dip 20 - 45&deg;</td>
                </tr>
                <tr>
                    <td>Fair</td>
                    <td>Unfavourable</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th colspan="2" class="text-center">Strike parallel to tunnel axis</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Dip 45 - 90&deg;</td>
                    <td>Dip 20 - 45&deg;</td>
                </tr>
                <tr>
                    <td>Very favourable</td>
                    <td>Fair</td>
                </tr>
                <tr>
                    <td colspan="2">Dip 0 - 20&deg;</td>
                </tr>
                <tr>
                    <td colspan="2">Fair</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
