
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th colspan="2" class="text-center">RMR Value = {{vm.RMRValue.value | number }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Rock Quality</td>
                                <td>{{vm.RMRValue.quality.Name}}</td>
                            </tr>
                            <tr>
                                <td>Category</td>
                                <td>{{vm.RMRValue.quality.Classification}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
