<div class="container-fluid">
    <div class="row tab-header">
        <div class="col-xs-12">
            <button class="pull-left" ui-sref="app.projects()">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>
            <h3>Rock Quality Configuration</h3>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <h3 id="project" style="margin: 40px 0px 40px 0px;">Project {{ vm.project.Code }} -  {{ vm.project.Name }}</h3>
                </div>
            </div>

            <form name="vm.form">

                <div class="row" ng-if="vm.rockQualities.length == 0">
                    <div class="col-xs-12">
                        <h4>There's no rock qualities.</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-primary" ng-click="vm.addNewItem(0)">Add item</button>
                        <button class="btn btn-danger" ng-if="vm.rockQualities.length != 0" ng-click="vm.removeItem(0)">Remove last item</button>
                    </div>
                </div>

                <div class="row" ng-repeat="rockQuality in vm.rockQualities">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4>Quality Category {{ rockQuality.Code+1 }}</h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input  name="name"
                                            type="text"
                                            class="form-control"
                                            ng-model="rockQuality.Name"
                                            required>
                                    </input>
                                    <div ng-messages="vm.form.name.$error" ng-show="vm.form.name.$touched" class="error-messages">
                                        <div ng-message="required">Required</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Q Value Lower Bound</label>
                                    <input  name="lower-bound"
                                            type="number"
                                            min="0"
                                            step="0.001"
                                            class="form-control"
                                            ng-model="rockQuality.LowerBound"
                                            required>
                                    </input>
                                    <div ng-messages="vm.form.lower-bound.$error" ng-show="vm.form.lower-bound.$touched" class="error-messages">
                                        <div ng-message="required">Required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Q Value Upper Bound</label>
                                    <input  name="upper-bound"
                                            type="number"
                                            min="0"
                                            step="0.001"
                                            class="form-control"
                                            ng-model="rockQuality.UpperBound"
                                            required>
                                    </input>
                                    <div ng-messages="vm.form.upper-bound.$error" ng-show="vm.form.upper-bound.$touched" class="error-messages">
                                        <div ng-message="required">Required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<footer ng-if="!vm.mapping.Finished">
    <div class="row content">
        <div class="col-xs-12">
            <div class="pull-right">
                <button class="btn btn-default" ui-sref="app.projects()" tooltip title="Cancel" ><span class="glyphicon glyphicon-floppy-remove"></span></button>
                <button class="btn btn-primary" ng-click="vm.saveRockQualities()" ng-disabled="!vm.form.$valid" tooltip title="Save"><span class="glyphicon glyphicon-floppy-disk"></span></button>
            </div>
        </div>
    </div>
</footer>