<div class="container-fluid">
    <form>
        <div class="row content search-form">
            <div class="col-xs-9">
                <div class="form-group">
                    <label for="query-txt">Search for projects</label>
                    <input  id="query-txt"
                            type="text"
                            class="form-control"
                            ng-model="vm.filter.query">
                    </input>
                </div>
            </div>

            <div class="col-xs-3 col-md-2 col-lg-1 pull-right" style="padding-top: 24px;">
                <button class="form-control btn btn-primary"
                        ng-click="vm.findProjects()">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="content row">
        <div class="col-xs-1">
            <button class="btn btn-success form-control" tooltip title="New Project" ui-sref="app.project-new()">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
        </div>

        <div class="col-xs-11">
            <div class="input-group pull-right">
                <div class="dropup pull-left">
                    <button class="btn btn-default btn-sm"
                            style="margin-right: 4px;"
                            ng-bind="vm.labelPagination"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu" style="left: -45px;" aria-labelledby="dLabel">
                        <li><a ng-click="vm.firstPage()">Primera página</a></li>
                        <li><a ng-click="vm.lastPage()">Última página</a></li>
                    </ul>
                </div>
                <div class="pull-right">
                    <button class="btn btn-default btn-sm" ng-disabled="vm.previousPageDisabled" ng-click="vm.previousPage()">
                        <i class="glyphicon glyphicon-menu-left"></i>
                    </button>
                    <button class="btn btn-default btn-sm" ng-disabled="vm.nextPageDisabled" ng-click="vm.nextPage()">
                        <i class="glyphicon glyphicon-menu-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="content row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-hover" sortable data-callback="vm.sortBy">
                    <thead>
                        <tr>
                            <th data-title="Code" data-column="code"></th>
                            <th data-title="Name" data-column="name"></th>
                            <th data-title="Description" data-column="description"></th>
                            <th data-title="Start Date" data-column="start-date"></th>
                            <th data-title="Finish Date" data-column="finish-date"></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="project in vm.projects">
                            <td ng-bind="::project.Code"></td>
                            <td ng-bind="::project.Name"></td>
                            <td ng-bind="::project.Description"></td>
                            <td>{{ project.StartDate | date: 'dd-MM-yyyy hh:mm:ss' }}</td>
                            <td>{{ project.FinishDate | date: 'dd-MM-yyyy hh:mm:ss' }}</td>
                            <td class="hidden-md hidden-xs">
                                <button class="btn btn-warning"
                                        ui-sref="app.project-edit({ projectId: project.id })"
                                        tooltip
                                        title="Edit">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>

                                <button class="btn btn-primary"
                                        ui-sref="app.project-edit-rock-quality({ projectId: project.id })"
                                        tooltip
                                        title="Rock Quality">
                                    <i class="fa fa-diamond" aria-hidden="true"></i>
                                </button>

                                <button class="btn btn-primary"
                                        ui-sref="app.project-edit-formation-unit({ projectId: project.id })"
                                        tooltip
                                        title="Formation Unit">
                                    <i class="fa fa-cubes" aria-hidden="true"></i>
                                </button>

                                <button class="btn btn-primary"
                                        ui-sref="app.project-edit-mapping-options({ projectId: project.id })"
                                        tooltip
                                        title="Mapping Options">
                                    <i class="fa fa-sitemap" aria-hidden="true"></i>
                                </button>

                                <button class="btn btn-danger"
                                        ng-click="vm.showDeleteConfirmation(project)"
                                        tooltip
                                        title="Delete">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </td>
                            <td class="visible-xs visible-md hidden-lg">
                                <button class="btn btn-warning" ui-sref="app.project-edit({ projectId: project.id })">
                                    Edit <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>

                                <button class="btn btn-primary" ui-sref="app.project-edit-rock-quality({ projectId: project.id })">
                                    Rock Quality <i class="fa fa-diamond" aria-hidden="true"></i>
                                </button>

                                <button class="btn btn-primary" ui-sref="app.project-edit-formation-unit({ projectId: project.id })">
                                    Formation Unit <i class="fa fa-cubes" aria-hidden="true"></i>
                                </button>

                                <button class="btn btn-primary" ui-sref="app.project-edit-mapping-options({ projectId: project.id })">
                                    Mapping Options <i class="fa fa-sitemap" aria-hidden="true"></i>
                                </button>

                                <button class="btn btn-danger" ng-click="vm.showDeleteConfirmation(project)">
                                    Delete <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
