<div class="container-fluid">
    <div class="row tab-header">
        <div class="col-xs-12">
            <button class="pull-left" ui-sref="app.projects()">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>
            <h3 ng-if="!vm.project.id">Create New</h3>
            <h3 ng-if="vm.project.id">Edit</h3>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12">
            <form name="vm.form">
            <div class="row">
                <div class="col-xs-12">
                    <h3 id="project" style="margin: 40px 0px 40px 0px;">Project</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Code</label>
                        <input  name="code"
                                type="text"
                                class="form-control"
                                ng-model="vm.project.Code"
                                required>
                        </input>
                        <div ng-messages="vm.form.code.$error" ng-show="vm.form.code.$touched" class="error-messages">
        					<div ng-message="required">Required</div>
        				</div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Name</label>
                        <input  name="name"
                                type="text"
                                class="form-control"
                                ng-model="vm.project.Name"
                                required>
                        </input>
                        <div ng-messages="vm.form.name.$error" ng-show="vm.form.name.$touched" class="error-messages">
        					<div ng-message="required">Required</div>
        				</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Start Date</label>
                        <input  name="startDate"
                                type="text"
                                class="form-control"
                                ng-model="vm.project.StartDate"
                                required
                                date-format="dd/MM/yyyy"
                                bs-datepicker>
                        </input>
                        <div ng-messages="vm.form.startDate.$error" ng-show="vm.form.startDate.$touched" class="error-messages">
        					<div ng-message="required">Required</div>
                            <div ng-message="min">Date cannot be before {{vm.minDate |  date: 'dd-MM-yyyy' }}</div>
                            <div ng-message="parse">Incorrect date format, it should be dd/mm/yyyy</div>
        				</div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Finish Date</label>
                        <input  name="finishDate"
                                type="text"
                                class="form-control"
                                ng-model="vm.project.FinishDate"
                                required
                                data-min-date="{{vm.project.StartDate}}"
                                date-format="dd/MM/yyyy"
                                bs-datepicker>
                        </input>
                        <div ng-messages="vm.form.finishDate.$error" ng-show="vm.form.finishDate.$touched" class="error-messages">
        					<div ng-message="required">Required</div>
                            <div ng-message="min">Date cannot be before {{vm.project.StartDate | date: 'dd-MM-yyyy' }}</div>
                            <div ng-message="parse">Incorrect date format, it should be dd/mm/yyyy</div>
        				</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Description</label>
                        <textarea name="description"
                                class="form-control"
                                ng-model="vm.project.Description"
                                rows="4"
                                ng-required>
                        </textarea>
                    </div>
                </div>
            </div>

        </form>
        </div>
    </div>

</div>

<footer ng-if="!vm.mapping.Finished">
    <div class="row content">
        <div class="col-xs-12">
            <div class="pull-right">
                <button class="btn btn-default" ui-sref="app.projects()" tooltip title="Cancel" ><span class="glyphicon glyphicon-floppy-remove"></span></button>
                <button class="btn btn-primary" ng-click="vm.save()" ng-disabled="!vm.form.$valid" tooltip title="Save"><span class="glyphicon glyphicon-floppy-disk"></span></button>
            </div>
        </div>
    </div>
</footer>
