<div class="container-fluid">
    <div class="row tab-header">
        <div class="col-xs-12">
            <button class="pull-left" ui-sref="app.projects()">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>
            <h3>Mapping Options Configuration</h3>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <h3 id="project" style="margin: 40px 0px 40px 0px;">Project {{ vm.project.Code }} -  {{ vm.project.Name }}</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h4>Enable/Disable mapping inputs for Characterization</h4>
                </div>
            </div>

            <form name="vm.form">

                <div class="row" ng-repeat="mappingInput in vm.MappingInputs | orderBy:'Code'">
                    <div class="col-xs-12" ng-if="mappingInput.Parent == null && mappingInput.Code < 4">
                        <div class="form-group">
                            <label>{{mappingInput.Name}}
                                <input type="checkbox" ng-click="vm.checkAll(mappingInput.enabled, mappingInput.id)" ng-model="mappingInput.enabled">
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-4" ng-repeat="mappingInput2 in vm.MappingInputs | orderBy:'Code'">
                        <div ng-if="mappingInput2.Parent == mappingInput.id">
                            <div class="form-group">
                                <label>{{mappingInput2.Name}}
                                    <input type="checkbox" ng-model="mappingInput2.enabled">
                                </label>
                            </div>
                        </div>        
                    </div>

                </div>

               <!--<div class="row" ng-if="vm.formationUnits.length == 0">
                    <div class="col-xs-12">
                        <h4>There's no mapping options.</h4>
                    </div>
                </div>

                <div class="row" ng-repeat="formationUnit in vm.formationUnits">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4>Drop Down List Position: {{ formationUnit.Code+1 }}</h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Item Label</label>
                                    <input  name="name"
                                            type="text"
                                            class="form-control"
                                            ng-model="formationUnit.Label"
                                            required>
                                    </input>
                                    <div ng-messages="vm.form.name.$error" ng-show="vm.form.name.$touched" class="error-messages">
                                        <div ng-message="required">Required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </form>
        </div>
    </div>

</div>

<footer ng-if="!vm.mapping.Finished">
    <div class="row content">
        <div class="col-xs-12">
            <div class="pull-right">
                <button class="btn btn-default" ui-sref="app.projects()" tooltip title="Cancel" ><span class="glyphicon glyphicon-floppy-remove"></span></button>
                <button class="btn btn-primary" ng-click="vm.saveMappingOptions()" ng-disabled="!vm.form.$valid" tooltip title="Save"><span class="glyphicon glyphicon-floppy-disk"></span></button>
            </div>
        </div>
    </div>
</footer>