<div class="container-fluid">
    <div class="row tab-header">
        <div class="col-xs-12">
            <button class="pull-left" ui-sref="app.users()">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>
            <h3 ng-if="!vm.user.IdUser">Create New</h3>
            <h3 ng-if="vm.user.IdUser">Edit</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3" style="padding-top: 40px;">
            <ul content-menu class="content-menu">
                <li role="presentation" class="active">
                    <a data-target="#user-information">User</a>
                </li>

                <li role="presentation">
                    <a data-target="#projects">Projects</a>
                </li>
            </ul>
        </div>

        <div class="col-xs-9">
            <form name="vm.form">
            <div class="row">
                <div class="col-xs-12">
                    <h2 id="user-information" style="margin: 40px 0px 40px 0px;">User</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>First Name</label>
                        <input  name="firstName"
                                type="text"
                                class="form-control"
                                ng-model="vm.user.FirstName"
                                required>
                        </input>
                        <div ng-messages="vm.form.firstName.$error" ng-show="vm.form.firstName.$touched" class="error-messages">
                          <div ng-message="required">Required</div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Last Name</label>
                        <input name="lastName"
                                type="text"
                                class="form-control"
                                ng-model="vm.user.LastName"
                                required>
                        </input>
                        <div ng-messages="vm.form.lastName.$error" ng-show="vm.form.lastName.$touched" class="error-messages">
        					<div ng-message="required">Required</div>
        				</div>
                    </div>
                </div>
            </div>

            <div class="row end-subform">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Contact</label>
                        <input  name="contact"
                                type="text"
                                class="form-control"
                                ng-model="vm.user.Contact"
                                required>
                        </input>
                        <div ng-messages="vm.form.contact.$error" ng-show="vm.form.contact.$touched" class="error-messages">
        					<div ng-message="required">Required</div>
        				</div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Email</label>
                        <input  name="email"
                                type="email"
                                class="form-control"
                                ng-model="vm.user.Email"
                                required>
                        </input>
                        <div ng-messages="vm.form.email.$error" ng-show="vm.form.email.$touched" class="error-messages">
        					<div ng-message="required">Required</div>
        					<div ng-message="email">Invalid email address</div>
        				</div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top: 35px;">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>User Name</label>
                        <input  name="username"
                                type="text"
                                class="form-control"
                                ng-model="vm.user.Username"
                                ng-disabled="vm.user.IdUser"
                                required>
                        </input>
                        <div ng-messages="vm.form.username.$error" ng-show="vm.form.username.$touched" class="error-messages">
        					<div ng-message="required">Required</div>
        				</div>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="vm.user.IdUser">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Password</label>
                        <input  name="password"
                                type="password"
                                class="form-control"
                                ng-model="vm.user.Password">
                        </input>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Repeat Password</label>
                        <input  name="repeatPassword"
                                type="password"
                                class="form-control"
                                compare-to="vm.user.Password"
                                ng-model="vm.user.RepeatPassword">
                        </input>
                        <div ng-messages="vm.form.repeatPassword.$error" ng-show="vm.form.repeatPassword.$touched" class="error-messages">
        					<div ng-message="compareTo">The passwords are not equals</div>
        				</div>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="!vm.user.IdUser">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Password</label>
                        <input  name="password"
                                type="password"
                                class="form-control"
                                required
                                ng-model="vm.user.Password">
                        </input>
                        <div ng-messages="vm.form.password.$error" ng-show="vm.form.password.$touched" class="error-messages">
        					<div ng-message="required">Required</div>
        				</div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Repeat Password</label>
                        <input  name="repeatPassword"
                                type="password"
                                class="form-control"
                                required
                                compare-to="vm.user.Password"
                                ng-model="vm.user.RepeatPassword">
                        </input>
                        <div ng-messages="vm.form.repeatPassword.$error" ng-show="vm.form.repeatPassword.$touched" class="error-messages">
        					<div ng-message="required">Required</div>
        					<div ng-message="compareTo">The passwords are not equals</div>
        				</div>
                    </div>
                </div>
            </div>

            <div class="row end-form">
                <div class="col-xs-6">
                    <label>Roles</label>
                    <div class="checkbox" ng-repeat="role in vm.roles">
                        <label>
                            <input type="checkbox" ng-model="role.selected"/> {{role.Name}}
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h3 style="margin: 20px 0px 20px 0px">Projects</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="input-group">
                        <input  type="text"
                                class="form-control input-first"
                                placeholder="Find a project"
                                aria-describeby="project"
                                ng-model="vm.projectSelected"
                                bs-options="project as project.Name for project in vm.findProject($viewValue)"
                                data-min-length="4"
                                data-container="body"
                                bs-typeahead/>

                        <span class="input-group-btn">
                            <button class="btn btn-md btn-primary" style="height: 34px;" ng-click="vm.addProject()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top: 20px;">
                <div class="col-xs-6">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="userProject in vm.user.UserProjects">
                            <div class="row">
                                <p class="col-xs-11">{{ userProject.Project.Name }}</p>
                                <a class="col-xs-1" ng-click="vm.removeProject(userProject.Project)">
                                    <i class="glyphicon glyphicon-trash pull-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
        </div>
    </div>

</div>

<footer ng-if="!vm.mapping.Finished">
    <div class="row content">
        <div class="col-xs-12">
            <div class="pull-right">
                <button class="btn btn-default" ui-sref="app.users()" tooltip title="Cancel"><span class="glyphicon glyphicon-floppy-remove"></span></button>
                <button class="btn btn-primary" ng-click="vm.save()" ng-disabled="!vm.form.$valid" tooltip title="Save"><span class="glyphicon glyphicon-floppy-disk"></span></button>
            </div>
        </div>
    </div>
</footer>
