<div class="container-fluid">
    <form>
        <div class="row content search-form">
            <div class="col-xs-9">
                <div class="form-group">
                    <label for="query-txt">Search for users</label>
                    <input  id="query-txt"
                            type="text"
                            class="form-control"
                            ng-model="vm.filter.query">
                    </input>
                </div>
            </div>

            <div class="col-xs-3 col-md-2 col-lg-1" style="padding-top: 24px;">
                <button class="form-control btn btn-primary"
                        ng-click="vm.findUsers()()">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="content row">
        <div class="col-xs-1">
            <button class="btn btn-success form-control" ui-sref="app.user-new()" tooltip title="New User">
                <span class="glyphicon glyphicon-plus-sign"></span> 
            </button>
        </div>

        <div class="col-xs-11">
            <div class="input-group pull-right">
                <div class="dropup pull-left">
                    <button class="btn btn-default btn-sm"
                            style="margin-right: 4px;"
                            ng-bind="vm.labelPagination"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu" style="left: -45px;" aria-labelledby="dLabel">
                        <li><a ng-click="vm.firstPage()">Primera página</a></li>
                        <li><a ng-click="vm.lastPage()">Última página</a></li>
                    </ul>
                </div>
                <div class="pull-right">
                    <button class="btn btn-default btn-sm" ng-disabled="vm.previousPageDisabled" ng-click="vm.previousPage()">
                        <i class="glyphicon glyphicon-menu-left"></i>
                    </button>
                    <button class="btn btn-default btn-sm" ng-disabled="vm.nextPageDisabled" ng-click="vm.nextPage()">
                        <i class="glyphicon glyphicon-menu-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="content row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-hover" sortable data-callback="vm.sortBy">
                    <thead>
                        <tr>
                            <th data-title="Username" data-column="username"></th>
                            <th data-title="First Name" data-column="firstname"></th>
                            <th data-title="Last Name" data-column="lastname"></th>
                            <th data-title="Contact" data-column="contact"></th>
                            <th data-title="Email" data-column="email"></th>
                            <th data-title="Created at" data-column="created-at"></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in vm.users">
                            <td ng-bind="::user.Username"></td>
                            <td ng-bind="::user.FirstName"></td>
                            <td ng-bind="::user.LastName"></td>
                            <td ng-bind="::user.Contact"></td>
                            <td ng-bind="::user.Email"></td>
                            <td>
                                {{ user.CreatedAt | date: 'dd-MM-yyyy hh:mm:ss' }}
                            </td>
                            <td class="hidden-md hidden-xs">
                                <button class="btn btn-warning"
                                        ng-show="user.Enabled"
                                        ui-sref="app.user-edit({ userId: user.IdUser })"
                                        tooltip
                                        title="Edit">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>

                                <!--<button class="btn btn-danger"-->
                                        <!--ng-click="vm.showDeleteConfirmation(user)"-->
                                        <!--tooltip-->
                                        <!--title="Delete">-->
                                    <!--<i class="fa fa-trash" aria-hidden="true"></i>-->
                                <!--</button>-->

                                <button class="btn btn-close"
                                        ng-show="user.Enabled"
                                        tooltip
                                        title="Deactivate"
                                        ng-click="vm.deactivate(user)">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                </button>

                                <button class="btn btn-open"
                                        ng-show="!user.Enabled"
                                        tooltip
                                        title="Activate"
                                        ng-click="vm.activate(user)">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                </button>
                            </td>
                            <td class="visible-xs visible-md hidden-lg">
                                <button class="btn btn-warning" ng-show="user.Enabled" ui-sref="app.user-edit({ userId: user.IdUser })">
                                    Edit <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>

                                <!--<button class="btn btn-danger" ng-click="vm.showDeleteConfirmation(user)">-->
                                    <!--Delete <i class="fa fa-trash" aria-hidden="true"></i>-->
                                <!--</button>-->

                                <button class="btn btn-success"
                                        ng-show="user.Enabled"
                                        ng-click="vm.deactivate(user)">
                                    Deactivate <i class="fa fa-lock" aria-hidden="true"></i>
                                </button>

                                <button class="btn btn-default"
                                        ng-show="!user.Enabled"
                                        ng-click="vm.activate(user)">
                                    Activate <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
