<div class="container-fluid">
	<form>
		<div class="row content search-form">
			<div class="col-xs-5">
				<div class="form-group">
					<label for="project-slc">Project</label>
					<select id="project-slc" class="form-control" ng-model="vm.filter.project" ng-options="project.Name for project in vm.projects" ng-change="vm.findTunnels()"> </select>
				</div>
			</div>
			<div class="col-xs-5">
				<div class="form-group">
					<label for="tunnel-slc">Tunnel</label>
					<select id="tunnel-slc" class="form-control" ng-model="vm.filter.tunnel" ng-options="tunnel.Name for tunnel in vm.tunnels" ng-change="vm.findStatistics()"> </select>
				</div>
			</div>
			<div class="col-xs-2 col-md-2 col-lg-2 pull-right" style="padding-top: 24px;">
				<button class="form-control btn btn-primary" ng-click="vm.findStatistics()"> <i class="fa fa-refresh"></i> </button>
			</div>
		</div>
	</form>
	<div class="content">
		<div class="row">
			<div class="col-md-12">
				<h4><legend>Dashboard for Tunnel: {{vm.filter.tunnel.Name}}</legend></h4> </div>
			<div class="row-fluid">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<a ui-sref="#">
						<div class="tile-stats">
							<div id="container"></div>
						</div>
					</a>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<a ui-sref="#">
						<div class="tile-stats">
							<div id="container2"></div>
						</div>
					</a>
				</div>
			</div>
			
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4><legend>Rock Quality Forecast</legend></h4>
				<div class="row-fluid">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<a ui-sref="#">
						<div class="tile-stats">
							<div id="littlecontainer1"></div>
						</div>
					</a>
				</div>
				
			</div> 
			</div>
		</div>
	</div>
</div>
