<div class="alert" ng-class="type">
    <div class="row">
        <div class="col-xs-2">
            <i ng-if="type === 'loading'" class="fa fa-circle-o-notch fa-spin fa-fw {{type}}"></i>
            <i ng-if="type === 'success'" class="fa fa-check {{type}}"></i>
            <i ng-if="type === 'error'" class="fa fa-exclamation-triangle {{type}}"></i>
            <i ng-if="type === 'confirmation'" class="fa fa-exclamation-triangle {{type}}"></i>
        </div>
        <div ng-class="{ 'col-xs-7': type === 'confirmation', 'col-xs-10': type != 'confirmation'}" style="padding-left: 0px;">
            <p ng-bind="::msg"></p>
        </div>
        <div class="col-xs-3" ng-if="type === 'confirmation'">
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn-cancel">
                        <span class="fa-stack fa-lg" aria-hidden="true">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-times fa-stack-1x"></i>
                        </span>
                    </button>
                </div>
                <div class="col-xs-6">
                    <button class="btn-accept">
                        <span class="fa-stack fa-lg" aria-hidden="true">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-check fa-stack-1x"></i>
                        </span>
                    </button>
                </div>
        	</div>
    	</div>
		<div class="col-xs-3" ng-if="type === 'question'">
            <div class="row">
                
                <div class="col-xs-4">
                    <button class="btn-accept">
						<label>Save</label>
                        <span class="fa-stack fa-lg" aria-hidden="true">							
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-check fa-stack-1x"></i>
                        </span>
                    </button>
                </div>
				<div class="col-xs-4">
                    <button class="btn-no">
						<label>Discard</label>
                        <span class="fa-stack fa-lg" aria-hidden="true">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-times fa-stack-1x"></i>
                        </span>
                    </button>
                </div>
				<div class="col-xs-4">
                    <button class="btn-cancel">
						<label>Cancel</label>
                        <span class="fa-stack fa-lg" aria-hidden="true">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-times fa-stack-1x"></i>
                        </span>
                    </button>
                </div>
        	</div>
    	</div>
	</div>
</div>
