<div class="container-fluid">
  <form>
      <div class="row content search-form">
        <div class="col-xs-3">
          <div class="form-group">
              <label for="project-slc">Project</label>
              <select id="project-slc"
                      class="form-control"
                      ng-model="vm.filter.project"
                      ng-options="project.Name for project in vm.projects"
                      ng-change="vm.findTunnels()">
              </select>
          </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <label for="tunnel-slc">Tunnel</label>
                <select id="tunnel-slc"
                        class="form-control"
                        ng-model="vm.filter.tunnel"
                        ng-options="tunnel.Name for tunnel in vm.tunnels"
                        ng-change="vm.updateChart()">
                </select>
            </div>
        </div>

        <div class="col-offset-3 col-xs-3 col-md-2 col-lg-1 pull-right" style="padding-top: 24px;">
            <button class="form-control btn btn-primary"
                    ng-click="vm.findMappings()"
                    ng-disabled="vm.cannotFindMappings()">
                <i class="fa fa-search"></i>
            </button>
        </div>
      </div>
  </form>
  <br/>
  <div class="content row">
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row-fluid">
            <h4>Account Balance</h4>
          </div>
        </div>
        <div class="panel-body">
            <div class="row-fluid">
                <span>Client: <strong>{{vm.account.subscription.client.Name}}</strong></span>
            </div>
            <br/>
          <div class="row-fluid">
              <span>Project: <strong>{{vm.filter.project.Name}}</strong></span>
          </div>
          <br/>
          <div class="row-fluid">
              <span>Tunnel: <strong>{{vm.filter.tunnel.Name}}</strong></span>
          </div>
          <br/>
          <div class="row-fluid">
            <span>Tier: <strong>{{vm.account.subscription.subscription.TierName}}</strong></span>
          </div>
          <br/>
          <div class="row-fluid">
            <span>Total distance for consumption: <strong>{{vm.filter.tunnel.Balance}} [m]</strong></span>
          </div>
          <br/>
          <div class="row-fluid">
            <span>Distance consumed: <strong>{{vm.filter.tunnel.Progress}} [m]</strong></span>
          </div>
          <br/>
          <div class="row-fluid">
            <span>Distance Available: <strong>{{vm.filter.tunnel.Balance - vm.filter.tunnel.Progress}} [m]</strong></span>
          </div>
          <!--<br/>-->
          <!--<div class="row-fluid">-->
            <!--<span>Updated At: <strong>{{vm.filter.tunnel.updateAt}}</strong></span>-->
          <!--</div>-->
          <br/>
        </div>
      </div>
    </div>
    <div class="col-md-offset-1 col-sm-offset-0 col-md-6">
        <div class="ct-golden-section"></div>
    </div>
  </div>
</div>
