<div class="container-fluid">
    <div class="row tab-header">
        <div class="col-xs-2">
            <button class="pull-left" ng-click="vm.verify('mappings')">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>
            <h3>{{vm.mapping.ChainageStart}} - {{vm.mapping.ChainageEnd}}</h3>
        </div>
        <div class="col-xs-10 ">
            <ul class="nav nav-tabs pull-right" role="tablist">
                <li role="presentation"  class="active">
                    <a data-target="#general-view" aria-controls="general-view" role="tab" data-toggle="tab">Rock Mass Description</a>
                </li>
                <li role="presentation">
                    <a data-target="#geothecnical-evaluation" aria-controls="geothecnical-evaluation" role="tab" data-toggle="tab">Rock Mass Classification</a>
                </li>
                <li role="presentation">
                    <a data-target="#graphical-register" aria-controls="graphical-register" role="tab" data-toggle="tab">Graphical Register</a>
                </li>
                <li role="presentation">
                    <a data-target="#general-comments" aria-controls="genral-comments" role="tab" data-toggle="tab">General Comments</a>
                </li>
                <!--<li role="presentation">
                    <a data-target="#summary" aria-controls="summary" role="tab" data-toggle="tab">Summary</a>
                </li>-->
                 <li role="presentation">
                    <a data-target="#report" aria-controls="report" role="tab" data-toggle="tab">Report</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row content">
        
            <div class="tab-content">
                <div ui-view="general-view" role="tabpanel" class="tab-pane active" id="general-view"></div>
                <!--<div ui-view="detailed-description" role="tabpanel" class="tab-pane" id="detailed-description"></div>-->
                <div ui-view="geothecnical-evaluation" role="tabpanel" class="tab-pane" id="geothecnical-evaluation"></div>
                <div ui-view="graphical-register" role="tabpanel" class="tab-pane" id="graphical-register"></div>
                <div ui-view="general-comments" role="tabpanel" class="tab-pane" id="general-comments"></div>
                <!--<div ui-view="summary" role="tabpanel" class="tab-pane" id="summary"></div>-->
                <div ui-view="report" role="tabpanel" class="tab-pane" id="report"></div>
            </div>
    
    </div>
</div>

<footer>
    <div class="row content">
      
            <div class="pull-left">
              <a type="button" href="{{ vm.excelMappingFileURL }}" target="_blank" class="btn btn-success" tooltip title="Export to Excel">
                  <span class="fa fa-file-excel-o"></span>
              </a>
            </div>

            <div class="pull-right" ng-if="!vm.mapping.Finished">
                <button class="btn btn-default" ui-sref="app.mappings()" tooltip title="Cancel"><span class="glyphicon glyphicon-floppy-remove"></span></button>
                <button class="btn btn-primary" ng-click="vm.save()" ng-disabled="vm.updating" tooltip title="Save"><span class="glyphicon glyphicon-floppy-disk"></span></button>
            </div>

            <div class="pull-right" ng-if="vm.mapping.Finished">
              <button class="btn btn-default" ui-sref="app.mappings()">Go back</button>
            </div>
    
    </div>
</footer>
