<div class="container-fluid">
    <form>
        <div class="row content search-form">
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="project-slc">Project</label>
                    <select id="project-slc"
                            class="form-control"
                            ng-model="vm.filter.project"
                            ng-options="project.Name for project in vm.projects"
                            ng-change="vm.findTunnels()">
                    </select>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="form-group">
                    <label for="tunnel-slc">Tunnel</label>
                    <select id="project-slc"
                            class="form-control"
                            ng-model="vm.filter.tunnel"
                            ng-options="tunnel.Name for tunnel in vm.tunnels"
                            ng-change="vm.findFaces()">
                    </select>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="form-group">
                    <label for="face-slc">Face</label>
                    <select id="face-slc"
                            class="form-control"
                            ng-model="vm.filter.face"
                            ng-options="face.Name for face in vm.faces">
                    </select>
                </div>
            </div>

            <div class="col-xs-3 col-md-2 col-lg-1 pull-right" style="padding-top: 24px;">
                <button class="form-control btn btn-primary"
                        ng-click="vm.findMappings()"
                        ng-disabled="vm.cannotFindMappings()">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="content row">
        <div class="col-xs-12">
            <div class="input-group pull-right">
                <div class="dropup pull-left">
                    <button class="btn btn-default btn-sm"
                            style="margin-right: 4px;"
                            ng-bind="vm.labelPagination"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu" style="left: -45px;" aria-labelledby="dLabel">
                        <li><a ng-click="vm.firstPage()">Primera página</a></li>
                        <li><a ng-click="vm.lastPage()">Última página</a></li>
                    </ul>
                </div>
                <div class="pull-right">
                    <button class="btn btn-default btn-sm" ng-disabled="vm.previousPageDisabled" ng-click="vm.previousPage()">
                        <i class="glyphicon glyphicon-menu-left"></i>
                    </button>
                    <button class="btn btn-default btn-sm" ng-disabled="vm.nextPageDisabled" ng-click="vm.nextPage()">
                        <i class="glyphicon glyphicon-menu-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="content row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-hover" sortable data-callback="vm.sortBy">
                    <thead>
                        <tr>
                            <th data-title="User" data-column="user"></th>
                            <th data-title="Chainage Start" data-column="chainage-start"></th>
                            <th data-title="Chainage End" data-column="chainage-end"></th>
                            <th data-title="Created At" data-column="created-at"></th>
                            <th data-title="Updated At" data-column="updated-at"></th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="mapping in vm.mappings">
                            <td ng-bind="mapping.User.FirstName + ' ' + mapping.User.LastName"></td>
                            <td ng-bind="::mapping.ChainageStart"></td>
                            <td ng-bind="::mapping.ChainageEnd"></td>
                            <td>
                                {{mapping.createdAt | date: 'dd-MM-yyyy hh:mm:ss'}}
                            </td>
                            <td>
                                {{mapping.updatedAt | date: 'dd-MM-yyyy hh:mm:ss'}}
                            </td>
                            <td ng-show="mapping.Finished">Closed</td>
                            <td ng-show="!mapping.Finished">Open</td>
                            <td class="hidden-md hidden-xs">
                                <button class="btn btn-close"
                                        ng-show="!mapping.Finished"
                                        ng-click="vm.closeMapping(mapping)"
                                        tooltip
                                        title="Close">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                </button>

                                <button class="btn btn-open"
                                        ng-show="mapping.Finished"
                                        ng-click="vm.openMapping(mapping)"
                                        tooltip
                                        title="Reopen">
                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                </button>

                                <button class="btn btn-warning"
                                        ui-sref="app.mapping-detail({ mappingId: mapping.id })"
                                        tooltip
                                        ng-show="!mapping.Finished"
                                        title="Edit">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>

                                <button class="btn btn-primary"
                                        ui-sref="app.mapping-detail({ mappingId: mapping.id })"
                                        tooltip
                                        ng-show="mapping.Finished"
                                        title="View">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </button>
                            </td>
                            <td class="visible-xs visible-md hidden-lg">
                                <button class="btn btn-success"
                                        ng-show="!mapping.Finished"
                                        ng-click="vm.closeMapping(mapping)">
                                    Close <i class="fa fa-lock" aria-hidden="true"></i>
                                </button>

                                <button class="btn btn-default"
                                        ng-show="mapping.Finished"
                                        ng-click="vm.openMapping(mapping)">
                                    Reopen <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                </button>

                                <button class="btn btn-warning"
                                        ng-show="!mapping.Finished"
                                        ui-sref="app.mapping-detail({ mappingId: mapping.id })">
                                    Edit <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>

                                <button class="btn btn-primary"
                                        ng-show="mapping.Finished"
                                        ui-sref="app.mapping-detail({ mappingId: mapping.id })">
                                    View <i class="fa fa-eye" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
